In [294]:
import pandas as pd
import sqlite3
from sodapy import Socrata
from config import userID, key
import requests

In [292]:
#connecting to the sqlite database
conn = sqlite3.connect('health_air.db')

In [288]:
#function to add a table to the database
def add_table_to_db(table_name, df, connection_db):
    cur = conn.cursor()
    df.to_sql(name=table_name, if_exists='replace', con=conn)
    return(cur.execute("""SELECT * FROM asthma;""").fetchall())

# ETL of [Asthma data](https://chronicdata.cdc.gov/Chronic-Disease-Indicators/U-S-Chronic-Disease-Indicators-Asthma/us8e-ubyj)

In [11]:
# Instruction from the CDC website to extract data
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("chronicdata.cdc.gov", None)

# Return as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get_all("us8e-ubyj")

# Convert to pandas DataFrame
asthma_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [208]:
asthma_df

,yearstart,yearend,locationabbr,locationdesc,datasource,topic,question,datavaluetype,datavalue,datavaluealt,...,topicid,questionid,datavaluetypeid,stratificationcategoryid1,stratificationid1,datavalueunit,lowconfidencelimit,highconfidencelimit,datavaluefootnotesymbol,datavaluefootnote
0,2012,2012,AL,Alabama,NVSS,Asthma,Asthma mortality rate,Number,37,37,...,AST,AST4_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN,NaN
1,2014,2014,AL,Alabama,NVSS,Asthma,Asthma mortality rate,Number,22,22,...,AST,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN,NaN
2,2011,2011,AZ,Arizona,NVSS,Asthma,Asthma mortality rate,Number,29,29,...,AST,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN,NaN
3,2015,2015,CT,Connecticut,NVSS,Asthma,Asthma mortality rate,Number,34,34,...,AST,AST4_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN,NaN
4,2011,2011,FL,Florida,NVSS,Asthma,Asthma mortality rate,Number,54,54,...,AST,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64714,2011,2011,WI,Wisconsin,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,Age-adjusted Prevalence,NaN,NaN,...,AST,AST6_2,AGEADJPREV,GENDER,GENM,%,NaN,NaN,****,Sample size of denominator and/or age group fo...
64715,2016,2016,TX,Texas,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,Age-adjusted Prevalence,NaN,NaN,...,AST,AST6_2,AGEADJPREV,RACE,MRC,%,NaN,NaN,****,Sample size of denominator and/or age group fo...
64716,2019,2019,WI,Wisconsin,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,Age-adjusted Prevalence,NaN,NaN,...,AST,AST6_2,AGEADJPREV,RACE,OTH,%,NaN,NaN,****,Sample size of denominator and/or age group fo...
64717,2014,2014,PR,Puerto Rico,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,Crude Prevalence,NaN,NaN,...,AST,AST6_2,CRDPREV,GENDER,GENM,%,NaN,NaN,****,Sample size of denominator and/or age group fo...
64718,2017,2017,WI,Wisconsin,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,Age-adjusted Prevalence,NaN,NaN,...,AST,AST6_2,AGEADJPREV,RACE,BLK,%,NaN,NaN,****,Sample size of denominator and/or age group fo...

In [209]:
asthma_df.columns

Index(['yearstart', 'yearend', 'locationabbr', 'locationdesc', 'datasource',
       'topic', 'question', 'datavaluetype', 'datavalue', 'datavaluealt',
       'stratificationcategory1', 'stratification1', 'locationid', 'topicid',
       'questionid', 'datavaluetypeid', 'stratificationcategoryid1',
       'stratificationid1', 'datavalueunit', 'lowconfidencelimit',
       'highconfidencelimit', 'datavaluefootnotesymbol', 'datavaluefootnote'],
      dtype='object')

In [248]:
asthma_df['question'].unique()

array(['Asthma mortality rate',
       'Emergency department visit rate for asthma',
       'Hospitalizations for asthma',
       'Current asthma prevalence among adults aged >= 18 years',
       'Asthma prevalence among women aged 18-44 years',
       'Influenza vaccination among noninstitutionalized adults aged 18-64 years with asthma',
       'Influenza vaccination among noninstitutionalized adults aged >= 65 years with asthma',
       'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with asthma',
       'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma'],
      dtype=object)

In [249]:
questions_OI = ['Asthma mortality rate','Emergency department visit rate for asthma','Hospitalizations for asthma',\
               'Current asthma prevalence among adults aged >= 18 years','Asthma prevalence among women aged 18-44 years']

In [264]:
questionids_list=[]
for question in questions_OI:
    questionids_list += list(asthma_df[asthma_df['question']==question]['questionid'].unique())
print(questionids_list)

['AST4_1', 'AST2_1', 'AST3_1', 'AST1_1', 'AST1_2']

In [265]:
# filtering the dataset for the questions of interest
filtered_asthma_df = asthma_df[asthma_df['questionid'].isin(questionids_list)]
filtered_asthma_df

,yearstart,yearend,locationabbr,locationdesc,datasource,topic,question,datavaluetype,datavalue,datavaluealt,...,topicid,questionid,datavaluetypeid,stratificationcategoryid1,stratificationid1,datavalueunit,lowconfidencelimit,highconfidencelimit,datavaluefootnotesymbol,datavaluefootnote
0,2012,2012,AL,Alabama,NVSS,Asthma,Asthma mortality rate,Number,37,37,...,AST,AST4_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN,NaN
1,2014,2014,AL,Alabama,NVSS,Asthma,Asthma mortality rate,Number,22,22,...,AST,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN,NaN
2,2011,2011,AZ,Arizona,NVSS,Asthma,Asthma mortality rate,Number,29,29,...,AST,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN,NaN
3,2015,2015,CT,Connecticut,NVSS,Asthma,Asthma mortality rate,Number,34,34,...,AST,AST4_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN,NaN
4,2011,2011,FL,Florida,NVSS,Asthma,Asthma mortality rate,Number,54,54,...,AST,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37547,2019,2019,ID,Idaho,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,Age-adjusted Prevalence,7.9,7.9,...,AST,AST1_1,AGEADJPREV,GENDER,GENM,%,6.4,9.7,NaN,NaN
37548,2017,2017,GA,Georgia,BRFSS,Asthma,Asthma prevalence among women aged 18-44 years,Crude Prevalence,12.2,12.2,...,AST,AST1_2,CRDPREV,RACE,WHT,%,8.8,16.8,NaN,NaN
37549,2013,2013,FL,Florida,BRFSS,Asthma,Asthma prevalence among women aged 18-44 years,Crude Prevalence,10,10,...,AST,AST1_2,CRDPREV,OVERALL,OVR,%,8.6,11.5,NaN,NaN
37550,2014,2014,MO,Missouri,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,Crude Prevalence,9.7,9.7,...,AST,AST1_1,CRDPREV,OVERALL,OVR,%,8.7,10.8,NaN,NaN
37551,2013,2013,WV,West Virginia,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,Crude Prevalence,9,9,...,AST,AST1_1,CRDPREV,OVERALL,OVR,%,8.2,9.9,NaN,NaN

In [266]:
#checking if column 'yearstart' and 'yearend' are the same
print(f"Are the columns datavalue and datavaluealt end the same?\n{filtered_asthma_df['datavalue'].equals(filtered_asthma_df['datavaluealt'])}")
print(f"Are the columns yearstart and year end the same?\n{filtered_asthma_df['yearstart'].equals(filtered_asthma_df['yearend'])}")
#if these columns are the same drop one of the duplicates and other not useful columns
if filtered_asthma_df['yearstart'].equals(filtered_asthma_df['yearend']):
    columns_to_drop = ['yearend',\
                        'topic',\
                        'datavaluealt',\
                        'topicid',\
                        'datavaluetypeid',\
                        'stratificationcategoryid1',\
                        'stratificationid1',\
                        'lowconfidencelimit',\
                       'highconfidencelimit',\
                       'datavaluefootnotesymbol',\
                      'datavaluefootnote']
    filtered_asthma_df=filtered_asthma_df.drop(columns=columns_to_drop)
    print(f"The following columns {columns_to_drop} were dropped")

Are the columns datavalue and datavaluealt end the same?
True
Are the columns yearstart and year end the same?
True
The following columns ['yearend', 'topic', 'datavaluealt', 'topicid', 'datavaluetypeid', 'stratificationcategoryid1', 'stratificationid1', 'lowconfidencelimit', 'highconfidencelimit', 'datavaluefootnotesymbol', 'datavaluefootnote'] were dropped

In [267]:
filtered_asthma_df=filtered_asthma_df.rename(columns={"yearstart": "year","locationabbr":"state_id","locationdesc":"state"})

In [268]:
#checking for missing data
filtered_asthma_df.isnull().sum()

year                           0
state_id                       0
state                          0
datasource                     0
question                       0
datavaluetype                  0
datavalue                  17259
stratificationcategory1        0
stratification1                0
locationid                     0
questionid                     0
datavalueunit               7548
dtype: int64

In [269]:
# removing missing data values
filtered_asthma_df=filtered_asthma_df[filtered_asthma_df['datavalue'].isna()==False]
filtered_asthma_df

,year,state_id,state,datasource,question,datavaluetype,datavalue,stratificationcategory1,stratification1,locationid,questionid,datavalueunit
0,2012,AL,Alabama,NVSS,Asthma mortality rate,Number,37,Gender,Female,1,AST4_1,NaN
1,2014,AL,Alabama,NVSS,Asthma mortality rate,Number,22,Gender,Male,1,AST4_1,NaN
2,2011,AZ,Arizona,NVSS,Asthma mortality rate,Number,29,Gender,Male,4,AST4_1,NaN
3,2015,CT,Connecticut,NVSS,Asthma mortality rate,Number,34,Gender,Female,9,AST4_1,NaN
4,2011,FL,Florida,NVSS,Asthma mortality rate,Number,54,Gender,Male,12,AST4_1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37547,2019,ID,Idaho,BRFSS,Current asthma prevalence among adults aged >=...,Age-adjusted Prevalence,7.9,Gender,Male,16,AST1_1,%
37548,2017,GA,Georgia,BRFSS,Asthma prevalence among women aged 18-44 years,Crude Prevalence,12.2,Race/Ethnicity,"White, non-Hispanic",13,AST1_2,%
37549,2013,FL,Florida,BRFSS,Asthma prevalence among women aged 18-44 years,Crude Prevalence,10,Overall,Overall,12,AST1_2,%
37550,2014,MO,Missouri,BRFSS,Current asthma prevalence among adults aged >=...,Crude Prevalence,9.7,Overall,Overall,29,AST1_1,%
37551,2013,WV,West Virginia,BRFSS,Current asthma prevalence among adults aged >=...,Crude Prevalence,9,Overall,Overall,54,AST1_1,%

In [270]:
# checking that all the missing data value were correctly removed
filtered_asthma_df.isnull().sum()

year                          0
state_id                      0
state                         0
datasource                    0
question                      0
datavaluetype                 0
datavalue                     0
stratificationcategory1       0
stratification1               0
locationid                    0
questionid                    0
datavalueunit              2827
dtype: int64

In [271]:
filtered_asthma_df['question'].unique()

array(['Asthma mortality rate',
       'Emergency department visit rate for asthma',
       'Hospitalizations for asthma',
       'Current asthma prevalence among adults aged >= 18 years',
       'Asthma prevalence among women aged 18-44 years'], dtype=object)

In [272]:
# drop territories (PR, GU, VI) and nation-wide data (US)
state_to_drop = ['PR','GU','US','VI']
filtered_asthma_df = filtered_asthma_df[~filtered_asthma_df['state_id'].isin(state_to_drop)]

filtered_asthma_df

,year,state_id,state,datasource,question,datavaluetype,datavalue,stratificationcategory1,stratification1,locationid,questionid,datavalueunit
0,2012,AL,Alabama,NVSS,Asthma mortality rate,Number,37,Gender,Female,1,AST4_1,NaN
1,2014,AL,Alabama,NVSS,Asthma mortality rate,Number,22,Gender,Male,1,AST4_1,NaN
2,2011,AZ,Arizona,NVSS,Asthma mortality rate,Number,29,Gender,Male,4,AST4_1,NaN
3,2015,CT,Connecticut,NVSS,Asthma mortality rate,Number,34,Gender,Female,9,AST4_1,NaN
4,2011,FL,Florida,NVSS,Asthma mortality rate,Number,54,Gender,Male,12,AST4_1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37547,2019,ID,Idaho,BRFSS,Current asthma prevalence among adults aged >=...,Age-adjusted Prevalence,7.9,Gender,Male,16,AST1_1,%
37548,2017,GA,Georgia,BRFSS,Asthma prevalence among women aged 18-44 years,Crude Prevalence,12.2,Race/Ethnicity,"White, non-Hispanic",13,AST1_2,%
37549,2013,FL,Florida,BRFSS,Asthma prevalence among women aged 18-44 years,Crude Prevalence,10,Overall,Overall,12,AST1_2,%
37550,2014,MO,Missouri,BRFSS,Current asthma prevalence among adults aged >=...,Crude Prevalence,9.7,Overall,Overall,29,AST1_1,%
37551,2013,WV,West Virginia,BRFSS,Current asthma prevalence among adults aged >=...,Crude Prevalence,9,Overall,Overall,54,AST1_1,%

In [273]:
#checking for duplicates
filtered_asthma_df=filtered_asthma_df.drop_duplicates()
filtered_asthma_df

,year,state_id,state,datasource,question,datavaluetype,datavalue,stratificationcategory1,stratification1,locationid,questionid,datavalueunit
0,2012,AL,Alabama,NVSS,Asthma mortality rate,Number,37,Gender,Female,1,AST4_1,NaN
1,2014,AL,Alabama,NVSS,Asthma mortality rate,Number,22,Gender,Male,1,AST4_1,NaN
2,2011,AZ,Arizona,NVSS,Asthma mortality rate,Number,29,Gender,Male,4,AST4_1,NaN
3,2015,CT,Connecticut,NVSS,Asthma mortality rate,Number,34,Gender,Female,9,AST4_1,NaN
4,2011,FL,Florida,NVSS,Asthma mortality rate,Number,54,Gender,Male,12,AST4_1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37547,2019,ID,Idaho,BRFSS,Current asthma prevalence among adults aged >=...,Age-adjusted Prevalence,7.9,Gender,Male,16,AST1_1,%
37548,2017,GA,Georgia,BRFSS,Asthma prevalence among women aged 18-44 years,Crude Prevalence,12.2,Race/Ethnicity,"White, non-Hispanic",13,AST1_2,%
37549,2013,FL,Florida,BRFSS,Asthma prevalence among women aged 18-44 years,Crude Prevalence,10,Overall,Overall,12,AST1_2,%
37550,2014,MO,Missouri,BRFSS,Current asthma prevalence among adults aged >=...,Crude Prevalence,9.7,Overall,Overall,29,AST1_1,%
37551,2013,WV,West Virginia,BRFSS,Current asthma prevalence among adults aged >=...,Crude Prevalence,9,Overall,Overall,54,AST1_1,%

In [279]:
#checking that there isn't more than one data value entry for the same year and state.
duplicateRowsDF = filtered_asthma_df[filtered_asthma_df.duplicated(subset=['year','state_id','state','datasource','question','datavaluetype','datavaluetype','stratificationcategory1','stratification1','locationid','questionid','datavalueunit'], keep=False)]
duplicateRowsDF

Empty DataFrame
Columns: [year, state_id, state, datasource, question, datavaluetype, datavalue, stratificationcategory1, stratification1, locationid, questionid, datavalueunit]
Index: []

In [282]:
#keeping only the Overall values
filtered_asthma_df = filtered_asthma_df[filtered_asthma_df['stratificationcategory1'] == 'Overall']
filtered_asthma_df

,year,state_id,state,datasource,question,datavaluetype,datavalue,stratificationcategory1,stratification1,locationid,questionid,datavalueunit
6,2011,HI,Hawaii,NVSS,Asthma mortality rate,Number,26,Overall,Overall,15,AST4_1,NaN
7,2013,HI,Hawaii,NVSS,Asthma mortality rate,Number,24,Overall,Overall,15,AST4_1,NaN
12,2012,TX,Texas,NVSS,Asthma mortality rate,Number,206,Overall,Overall,48,AST4_1,NaN
14,2015,WA,Washington,NVSS,Asthma mortality rate,Number,88,Overall,Overall,53,AST4_1,NaN
21,2019,NY,New York,BRFSS,Asthma prevalence among women aged 18-44 years,Crude Prevalence,12,Overall,Overall,36,AST1_2,%
...,...,...,...,...,...,...,...,...,...,...,...,...
37524,2013,ID,Idaho,BRFSS,Current asthma prevalence among adults aged >=...,Age-adjusted Prevalence,8.7,Overall,Overall,16,AST1_1,%
37536,2019,NC,North Carolina,BRFSS,Current asthma prevalence among adults aged >=...,Age-adjusted Prevalence,8.2,Overall,Overall,37,AST1_1,%
37549,2013,FL,Florida,BRFSS,Asthma prevalence among women aged 18-44 years,Crude Prevalence,10,Overall,Overall,12,AST1_2,%
37550,2014,MO,Missouri,BRFSS,Current asthma prevalence among adults aged >=...,Crude Prevalence,9.7,Overall,Overall,29,AST1_1,%
37551,2013,WV,West Virginia,BRFSS,Current asthma prevalence among adults aged >=...,Crude Prevalence,9,Overall,Overall,54,AST1_1,%

In [286]:
# final dropping of unnecessary columns
filtered_asthma_df=filtered_asthma_df.drop(columns=['state',\
                                                    'datasource',\
                                                    'question',\
                                                    'stratificationcategory1',\
                                                    'stratification1',\
                                                    'locationid',\
                                                    'questionid'])
filtered_asthma_df

       year state_id            datavaluetype datavalue datavalueunit
6      2011       HI                   Number        26           NaN
7      2013       HI                   Number        24           NaN
12     2012       TX                   Number       206           NaN
14     2015       WA                   Number        88           NaN
21     2019       NY         Crude Prevalence        12             %
...     ...      ...                      ...       ...           ...
37524  2013       ID  Age-adjusted Prevalence       8.7             %
37536  2019       NC  Age-adjusted Prevalence       8.2             %
37549  2013       FL         Crude Prevalence        10             %
37550  2014       MO         Crude Prevalence       9.7             %
37551  2013       WV         Crude Prevalence         9             %

[3034 rows x 5 columns]

In [290]:
# adding the asthma table to the database and controlling that there are data recorded.
add_table_to_db('asthma',filtered_asthma_df, conn)

[(6, '2011', 'HI', 'Number', '26', None),
 (7, '2013', 'HI', 'Number', '24', None),
 (12, '2012', 'TX', 'Number', '206', None),
 (14, '2015', 'WA', 'Number', '88', None),
 (21, '2019', 'NY', 'Crude Prevalence', '12', '%'),
 (22, '2011', 'VA', 'Crude Prevalence', '11.9', '%'),
 (24, '2014', 'GA', 'Number', '96', None),
 (31, '2013', 'IN', 'Number', '69', None),
 (34, '2012', 'CA', 'Number', '384', None),
 (41, '2013', 'NC', 'Number', '112', None),
 (42, '2013', 'WA', 'Number', '87', None),
 (45, '2016', 'NY', 'Number', '273', None),
 (58, '2017', 'IA', 'Number', '32', None),
 (69, '2017', 'AR', 'Crude Rate', '10.7', 'cases per 1,000,000'),
 (74, '2013', 'AL', 'Crude Rate', '8.7', 'cases per 1,000,000'),
 (81, '2015', 'CT', 'Crude Rate', '13.4', 'cases per 1,000,000'),
 (83, '2011', 'CO', 'Crude Rate', '8.2', 'cases per 1,000,000'),
 (84, '2014', 'IL', 'Age-adjusted Rate', '12.2', 'cases per 1,000,000'),
 (85, '2015', 'IA', 'Crude Rate', '13.1', 'cases per 1,000,000'),
 (92, '2013', 'CT', 'Number', '36', None),
 (100, '2017', 'ID', 'Crude Rate', '15.7', 'cases per 1,000,000'),
 (107, '2011', 'FL', 'Number', '148', None),
 (111, '2012', 'KS', 'Age-adjusted Rate', '8.9', 'cases per 1,000,000'),
 (156, '2010', 'KS', 'Crude Rate', '11.6', 'cases per 1,000,000'),
 (182, '2014', 'CO', 'Number', '41', None),
 (185, '2014', 'HI', 'Age-adjusted Rate', '14.6', 'cases per 1,000,000'),
 (195, '2012', 'CA', 'Crude Rate', '10.1', 'cases per 1,000,000'),
 (200, '2014', 'CA', 'Number', '407', None),
 (208, '2015', 'AL', 'Number', '52', None),
 (209, '2011', 'IL', 'Age-adjusted Rate', '13.3', 'cases per 1,000,000'),
 (233, '2014', 'FL', 'Age-adjusted Rate', '8.6', 'cases per 1,000,000'),
 (242, '2012', 'IA', 'Crude Rate', '11.4', 'cases per 1,000,000'),
 (249, '2012', 'IN', 'Age-adjusted Rate', '10.3', 'cases per 1,000,000'),
 (251, '2013', 'GA', 'Age-adjusted Rate', '10.2', 'cases per 1,000,000'),
 (259, '2016', 'ID', 'Number', '21', None),
 (260, '2017', 'AZ', 'Number', '92', None),
 (263, '2017', 'GA', 'Crude Rate', '10.4', 'cases per 1,000,000'),
 (269, '2010', 'CA', 'Number', '403', None),
 (273, '2013', 'HI', 'Crude Rate', '17.1', 'cases per 1,000,000'),
 (311, '2010', 'IA', 'Number', '46', None),
 (314, '2011', 'IN', 'Crude Rate', '11.2', 'cases per 1,000,000'),
 (316, '2017', 'IL', 'Number', '149', None),
 (320, '2015', 'AZ', 'Age-adjusted Rate', '10', 'cases per 1,000,000'),
 (330, '2015', 'AR', 'Number', '30', None),
 (331, '2015', 'IL', 'Crude Rate', '12.2', 'cases per 1,000,000'),
 (335, '2014', 'ID', 'Crude Rate', '13.5', 'cases per 1,000,000'),
 (336, '2015', 'AR', 'Age-adjusted Rate', '9.8', 'cases per 1,000,000'),
 (346, '2015', 'KS', 'Number', '29', None),
 (348, '2017', 'AL', 'Age-adjusted Rate', '13.7', 'cases per 1,000,000'),
 (349, '2016', 'GA', 'Number', '93', None),
 (363, '2011', 'KS', 'Crude Rate', '8.7', 'cases per 1,000,000'),
 (392, '2011', 'CA', 'Age-adjusted Rate', '10.7', 'cases per 1,000,000'),
 (399, '2014', 'IN', 'Crude Rate', '11.1', 'cases per 1,000,000'),
 (412, '2012', 'ID', 'Age-adjusted Rate', '13.2', 'cases per 1,000,000'),
 (420, '2010', 'CO', 'Crude Rate', '9.5', 'cases per 1,000,000'),
 (423, '2011', 'HI', 'Age-adjusted Rate', '16', 'cases per 1,000,000'),
 (426, '2010', 'CT', 'Number', '45', None),
 (457, '2013', 'IN', 'Crude Rate', '10.5', 'cases per 1,000,000'),
 (469, '2013', 'CA', 'Crude Rate', '10.7', 'cases per 1,000,000'),
 (484, '2013', 'ID', 'Age-adjusted Rate', '13.3', 'cases per 1,000,000'),
 (490, '2015', 'IL', 'Age-adjusted Rate', '11.6', 'cases per 1,000,000'),
 (500, '2014', 'AR', 'Number', '33', None),
 (516, '2010', 'ID', 'Crude Rate', '13.4', 'cases per 1,000,000'),
 (518, '2012', 'CT', 'Number', '39', None),
 (534, '2010', 'AL', 'Age-adjusted Rate', '11.9', 'cases per 1,000,000'),
 (535, '2010', 'AR', 'Age-adjusted Rate', '11.4', 'cases per 1,000,000'),
 (539, '2014', 'IA', 'Crude Rate', '17.4', 'cases per 1,000,000'),
 (550, '2016', 'IN', 'Crude Rate', '8.3', 'cases per 1,000,000'),
 (555, '2013', 'AR', 'Number', '36', None),
 (556, '2016', 'IA', 'Age-adjusted Rate', '9.3', 'cases per 1,000,000'),
 (583, '2015', 'CA', 'Number', '393', None),
 (595, '2014', 'KS', 'Crude Rate', '9.3', 'cases per 1,000,000'),
 (609, '2011', 'AL', 'Number', '36', None),
 (620, '2010', 'IL', 'Age-adjusted Rate', '13.9', 'cases per 1,000,000'),
 (649, '2016', 'CT', 'Number', '44', None),
 (653, '2013', 'AZ', 'Number', '98', None),
 (659, '2014', 'CO', 'Crude Rate', '7.7', 'cases per 1,000,000'),
 (662, '2010', 'IN', 'Age-adjusted Rate', '10.5', 'cases per 1,000,000'),
 (666, '2010', 'GA', 'Number', '97', None),
 (672, '2015', 'IN', 'Age-adjusted Rate', '12.9', 'cases per 1,000,000'),
 (678, '2016', 'AR', 'Crude Rate', '15.1', 'cases per 1,000,000'),
 (683, '2017', 'IN', 'Crude Rate', '11.7', 'cases per 1,000,000'),
 (685, '2017', 'HI', 'Age-adjusted Rate', '13.4', 'cases per 1,000,000'),
 (687, '2012', 'CO', 'Age-adjusted Rate', '10.6', 'cases per 1,000,000'),
 (700, '2011', 'KS', 'Number', '25', None),
 (711, '2015', 'FL', 'Number', '175', None),
 (720, '2014', 'AZ', 'Age-adjusted Rate', '11.7', 'cases per 1,000,000'),
 (739, '2012', 'GA', 'Number', '93', None),
 (766, '2013', 'IL', 'Number', '192', None),
 (771, '2015', 'CA', 'Age-adjusted Rate', '9.5', 'cases per 1,000,000'),
 (776, '2011', 'GA', 'Age-adjusted Rate', '10.5', 'cases per 1,000,000'),
 (784, '2013', 'GA', 'Crude Rate', '10.1', 'cases per 1,000,000'),
 (799, '2016', 'CO', 'Age-adjusted Rate', '8.3', 'cases per 1,000,000'),
 (821, '2011', 'IA', 'Age-adjusted Rate', '12.5', 'cases per 1,000,000'),
 (870, '2014', 'AZ', 'Crude Rate', '12.8', 'cases per 1,000,000'),
 (876, '2014', 'ID', 'Age-adjusted Rate', '13', 'cases per 1,000,000'),
 (883, '2017', 'AL', 'Crude Rate', '15.2', 'cases per 1,000,000'),
 (889, '2012', 'IA', 'Age-adjusted Rate', '9.8', 'cases per 1,000,000'),
 (893, '2011', 'AR', 'Age-adjusted Rate', '14.2', 'cases per 1,000,000'),
 (894, '2011', 'AR', 'Number', '46', None),
 (919, '2012', 'CA', 'Age-adjusted Rate', '9.8', 'cases per 1,000,000'),
 (928, '2012', 'CO', 'Crude Rate', '10.6', 'cases per 1,000,000'),
 (929, '2013', 'AL', 'Age-adjusted Rate', '8.4', 'cases per 1,000,000'),
 (931, '2017', 'HI', 'Crude Rate', '16.8', 'cases per 1,000,000'),
 (941, '2010', 'CO', 'Number', '48', None),
 (950, '2017', 'CO', 'Number', '46', None),
 (951, '2017', 'IL', 'Crude Rate', '11.6', 'cases per 1,000,000'),
 (963, '2016', 'AL', 'Age-adjusted Rate', '9.1', 'cases per 1,000,000'),
 (964, '2015', 'KS', 'Crude Rate', '10', 'cases per 1,000,000'),
 (988, '2010', 'CA', 'Crude Rate', '10.8', 'cases per 1,000,000'),
 (1002, '2017', 'AZ', 'Crude Rate', '13.1', 'cases per 1,000,000'),
 (1027, '2015', 'CO', 'Crude Rate', '8.4', 'cases per 1,000,000'),
 (1029, '2011', 'CO', 'Age-adjusted Rate', '8.4', 'cases per 1,000,000'),
 (1030, '2013', 'KS', 'Number', '32', None),
 (1045, '2010', 'IA', 'Crude Rate', '15.1', 'cases per 1,000,000'),
 (1055, '2017', 'ID', 'Age-adjusted Rate', '13.8', 'cases per 1,000,000'),
 (1062, '2011', 'IN', 'Age-adjusted Rate', '10.4', 'cases per 1,000,000'),
 (1066, '2013', 'FL', 'Age-adjusted Rate', '8.4', 'cases per 1,000,000'),
 (1068, '2014', 'CA', 'Crude Rate', '10.5', 'cases per 1,000,000'),
 (1078, '2011', 'GA', 'Number', '96', None),
 (1103, '2016', 'FL', 'Number', '184', None),
 (1107, '2010', 'KS', 'Number', '33', None),
 (1109, '2010', 'GA', 'Crude Rate', '10', 'cases per 1,000,000'),
 (1115, '2012', 'AZ', 'Age-adjusted Rate', '11.6', 'cases per 1,000,000'),
 (1131, '2015', 'IA', 'Age-adjusted Rate', '10.7', 'cases per 1,000,000'),
 (1178, '2015', 'AL', 'Crude Rate', '10.7', 'cases per 1,000,000'),
 (1201, '2016', 'ID', 'Crude Rate', '12.5', 'cases per 1,000,000'),
 (1206, '2011', 'KS', 'Age-adjusted Rate', '8', 'cases per 1,000,000'),
 (1221, '2017', 'GA', 'Age-adjusted Rate', '10.1', 'cases per 1,000,000'),
 (1222, '2010', 'FL', 'Number', '177', None),
 (1229, '2017', 'AR', 'Number', '32', None),
 (1231, '2017', 'IA', 'Crude Rate', '10.2', 'cases per 1,000,000'),
 (1236, '2013', 'HI', 'Age-adjusted Rate', '13.6', 'cases per 1,000,000'),
 (1246, '2014', 'IN', 'Age-adjusted Rate', '10.3', 'cases per 1,000,000'),
 (1248, '2016', 'AZ', 'Age-adjusted Rate', '14.2', 'cases per 1,000,000'),
 (1276, '2010', 'IL', 'Crude Rate', '14.3', 'cases per 1,000,000'),
 (1282, '2015', 'ID', 'Age-adjusted Rate', '11.6', 'cases per 1,000,000'),
 (1285, '2016', 'IN', 'Age-adjusted Rate', '7.8', 'cases per 1,000,000'),
 (1305, '2017', 'FL', 'Age-adjusted Rate', '7', 'cases per 1,000,000'),
 (1331, '2017', 'CA', 'Number', '399', None),
 (1335, '2013', 'AR', 'Crude Rate', '12.2', 'cases per 1,000,000'),
 (1339, '2010', 'AZ', 'Number', '58', None),
 (1352, '2017', 'IN', 'Number', '78', None),
 (1376, '2010', 'AL', 'Crude Rate', '12.8', 'cases per 1,000,000'),
 (1391, '2010', 'AR', 'Crude Rate', '12.7', 'cases per 1,000,000'),
 (1393, '2013', 'IA', 'Age-adjusted Rate', '10', 'cases per 1,000,000'),
 (1405, '2011', 'IA', 'Crude Rate', '14', 'cases per 1,000,000'),
 (1411, '2016', 'IA', 'Crude Rate', '10.8', 'cases per 1,000,000'),
 (1426, '2011', 'CT', 'Crude Rate', '6.7', 'cases per 1,000,000'),
 (1428, '2010', 'ID', 'Age-adjusted Rate', '13.5', 'cases per 1,000,000'),
 (1439, '2013', 'CO', 'Number', '51', None),
 (1449, '2016', 'AZ', 'Crude Rate', '15.6', 'cases per 1,000,000'),
 (1451, '2013', 'ID', 'Crude Rate', '14.3', 'cases per 1,000,000'),
 (1463, '2014', 'KS', 'Number', '27', None),
 (1472, '2013', 'IL', 'Crude Rate', '14.9', 'cases per 1,000,000'),
 (1488, '2016', 'CO', 'Crude Rate', '8.3', 'cases per 1,000,000'),
 (1504, '2012', 'KS', 'Crude Rate', '9', 'cases per 1,000,000'),
 (1505, '2012', 'IL', 'Age-adjusted Rate', '12.7', 'cases per 1,000,000'),
 (1517, '2014', 'IA', 'Number', '54', None),
 (1522, '2016', 'CT', 'Crude Rate', '12.3', 'cases per 1,000,000'),
 (1541, '2015', 'AZ', 'Number', '76', None),
 (1543, '2011', 'AL', 'Crude Rate', '7.5', 'cases per 1,000,000'),
 (1550, '2016', 'AR', 'Age-adjusted Rate', '14.3', 'cases per 1,000,000'),
 (1557, '2011', 'GA', 'Crude Rate', '9.8', 'cases per 1,000,000'),
 (1564, '2014', 'IL', 'Crude Rate', '13', 'cases per 1,000,000'),
 (1565, '2014', 'CT', 'Number', '36', None),
 (1566, '2014', 'GA', 'Age-adjusted Rate', '9.9', 'cases per 1,000,000'),
 (1603, '2013', 'AZ', 'Crude Rate', '14.8', 'cases per 1,000,000'),
 (1604, '2012', 'AR', 'Age-adjusted Rate', '9.8', 'cases per 1,000,000'),
 (1607, '2016', 'CA', 'Number', '391', None),
 (1617, '2016', 'IL', 'Age-adjusted Rate', '10.5', 'cases per 1,000,000'),
 (1623, '2012', 'FL', 'Number', '195', None),
 (1632, '2010', 'IN', 'Crude Rate', '10.6', 'cases per 1,000,000'),
 (1639, '2013', 'CA', 'Number', '410', None),
 (1648, '2015', 'IN', 'Crude Rate', '13.6', 'cases per 1,000,000'),
 (1665, '2014', 'AR', 'Crude Rate', '11.1', 'cases per 1,000,000'),
 (1666, '2012', 'CT', 'Crude Rate', '10.9', 'cases per 1,000,000'),
 (1667, '2014', 'AL', 'Age-adjusted Rate', '10.7', 'cases per 1,000,000'),
 (1672, '2011', 'AZ', 'Number', '92', None),
 (1683, '2011', 'AL', 'Age-adjusted Rate', '7.4', 'cases per 1,000,000'),
 (1690, '2010', 'FL', 'Crude Rate', '9.4', 'cases per 1,000,000'),
 (1698, '2012', 'ID', 'Number', '21', None),
 (1703, '2014', 'GA', 'Crude Rate', '9.5', 'cases per 1,000,000'),
 (1711, '2016', 'GA', 'Age-adjusted Rate', '9.2', 'cases per 1,000,000'),
 (1722, '2010', 'IL', 'Number', '183', None),
 (1726, '2010', 'CT', 'Age-adjusted Rate', '10.4', 'cases per 1,000,000'),
 (1739, '2014', 'CA', 'Age-adjusted Rate', '10', 'cases per 1,000,000'),
 (1779, '2017', 'AZ', 'Age-adjusted Rate', '11.7', 'cases per 1,000,000'),
 (1808, '2015', 'CO', 'Age-adjusted Rate', '8.5', 'cases per 1,000,000'),
 (1826, '2017', 'IL', 'Age-adjusted Rate', '10.9', 'cases per 1,000,000'),
 (1844, '2015', 'KS', 'Age-adjusted Rate', '9.6', 'cases per 1,000,000'),
 (1855, '2011', 'AZ', 'Age-adjusted Rate', '13.3', 'cases per 1,000,000'),
 (1886, '2016', 'FL', 'Crude Rate', '8.9', 'cases per 1,000,000'),
 (1900, '2014', 'FL', 'Number', '191', None),
 (1923, '2014', 'HI', 'Number', '24', None),
 (1925, '2012', 'FL', 'Age-adjusted Rate', '8.7', 'cases per 1,000,000'),
 (1934, '2017', 'CO', 'Crude Rate', '8.2', 'cases per 1,000,000'),
 (1941, '2013', 'KS', 'Crude Rate', '11.1', 'cases per 1,000,000'),
 (1948, '2015', 'AL', 'Age-adjusted Rate', '9.8', 'cases per 1,000,000'),
 (1960, '2012', 'IN', 'Number', '72', None),
 (1961, '2011', 'CA', 'Crude Rate', '10.7', 'cases per 1,000,000'),
 (1973, '2016', 'ID', 'Age-adjusted Rate', '11.3', 'cases per 1,000,000'),
 (1978, '2011', 'AR', 'Crude Rate', '15.7', 'cases per 1,000,000'),
 (1987, '2010', 'GA', 'Age-adjusted Rate', '10.8', 'cases per 1,000,000'),
 (1989, '2015', 'GA', 'Crude Rate', '9', 'cases per 1,000,000'),
 (1990, '2017', 'IA', 'Age-adjusted Rate', '8.8', 'cases per 1,000,000'),
 (1992, '2015', 'CO', 'Number', '46', None),
 (1996, '2015', 'IN', 'Number', '90', None),
 (1997, '2012', 'CO', 'Number', '55', None),
 (2001, '2012', 'AZ', 'Crude Rate', '12.2', 'cases per 1,000,000'),
 (2015, '2017', 'HI', 'Number', '24', None),
 (2032, '2010', 'IA', 'Age-adjusted Rate', '13.8', 'cases per 1,000,000'),
 (2047, '2014', 'AZ', 'Number', '86', None),
 (2048, '2013', 'FL', 'Crude Rate', '9.6', 'cases per 1,000,000'),
 (2052, '2016', 'AL', 'Crude Rate', '9.9', 'cases per 1,000,000'),
 (2059, '2017', 'AL', 'Number', '74', None),
 (2083, '2011', 'CT', 'Age-adjusted Rate', '6.1', 'cases per 1,000,000'),
 (2094, '2010', 'AZ', 'Crude Rate', '9.1', 'cases per 1,000,000'),
 (2115, '2013', 'IL', 'Age-adjusted Rate', '14', 'cases per 1,000,000'),
 (2117, '2012', 'AL', 'Age-adjusted Rate', '10.9', 'cases per 1,000,000'),
 (2119, '2014', 'CT', 'Crude Rate', '10', 'cases per 1,000,000'),
 (2148, '2012', 'FL', 'Crude Rate', '10.1', 'cases per 1,000,000'),
 (2151, '2016', 'CA', 'Crude Rate', '10', 'cases per 1,000,000'),
 (2165, '2017', 'CT', 'Age-adjusted Rate', '9', 'cases per 1,000,000'),
 (2184, '2015', 'AZ', 'Crude Rate', '11.1', 'cases per 1,000,000'),
 (2187, '2010', 'IN', 'Number', '69', None),
 (2191, '2013', 'AR', 'Age-adjusted Rate', '10.9', 'cases per 1,000,000'),
 (2214, '2014', 'IL', 'Number', '167', None),
 (2227, '2013', 'CT', 'Age-adjusted Rate', '8.3', 'cases per 1,000,000'),
 (2231, '2015', 'FL', 'Age-adjusted Rate', '7.4', 'cases per 1,000,000'),
 (2240, '2011', 'FL', 'Age-adjusted Rate', '6.7', 'cases per 1,000,000'),
 (2249, '2012', 'KS', 'Number', '26', None),
 (2259, '2012', 'GA', 'Age-adjusted Rate', '9.5', 'cases per 1,000,000'),
 (2264, '2016', 'IL', 'Crude Rate', '11.6', 'cases per 1,000,000'),
 (2292, '2013', 'CO', 'Crude Rate', '9.7', 'cases per 1,000,000'),
 (2302, '2016', 'AZ', 'Number', '108', None),
 (2328, '2016', 'CO', 'Number', '46', None),
 (2339, '2015', 'ID', 'Crude Rate', '12.7', 'cases per 1,000,000'),
 (2351, '2013', 'AZ', 'Age-adjusted Rate', '13.7', 'cases per 1,000,000'),
 (2355, '2012', 'AR', 'Crude Rate', '10.2', 'cases per 1,000,000'),
 (2360, '2016', 'CT', 'Age-adjusted Rate', '11.1', 'cases per 1,000,000'),
 (2362, '2017', 'FL', 'Crude Rate', '8.5', 'cases per 1,000,000'),
 (2367, '2011', 'IA', 'Number', '43', None),
 (2380, '2013', 'ID', 'Number', '23', None),
 (2386, '2017', 'CA', 'Crude Rate', '10.1', 'cases per 1,000,000'),
 (2409, '2014', 'AR', 'Age-adjusted Rate', '11', 'cases per 1,000,000'),
 (2414, '2012', 'CT', 'Age-adjusted Rate', '9.4', 'cases per 1,000,000'),
 (2417, '2014', 'AL', 'Crude Rate', '11.8', 'cases per 1,000,000'),
 (2421, '2011', 'AZ', 'Crude Rate', '14.2', 'cases per 1,000,000'),
 (2436, '2010', 'AL', 'Number', '61', None),
 (2442, '2015', 'GA', 'Number', '92', None),
 (2444, '2010', 'AR', 'Number', '37', None),
 (2447, '2012', 'IL', 'Crude Rate', '13.5', 'cases per 1,000,000'),
 (2449, '2013', 'IA', 'Crude Rate', '11.6', 'cases per 1,000,000'),
 (2460, '2011', 'CO', 'Number', '42', None),
 (2472, '2016', 'IA', 'Number', '34', None),
 (2474, '2010', 'CA', 'Age-adjusted Rate', '11', 'cases per 1,000,000'),
 (2485, '2017', 'CO', 'Age-adjusted Rate', '7.7', 'cases per 1,000,000'),
 (2486, '2011', 'IL', 'Crude Rate', '13.7', 'cases per 1,000,000'),
 (2495, '2010', 'CT', 'Crude Rate', '12.6', 'cases per 1,000,000'),
 (2517, '2012', 'IN', 'Crude Rate', '11', 'cases per 1,000,000'),
 (2539, '2017', 'GA', 'Number', '108', None),
 (2558, '2010', 'FL', 'Age-adjusted Rate', '8.1', 'cases per 1,000,000'),
 (2573, '2014', 'IN', 'Number', '73', None),
 (2577, '2016', 'GA', 'Crude Rate', '9', 'cases per 1,000,000'),
 (2580, '2011', 'CT', 'Number', '24', None),
 (2593, '2011', 'IN', 'Number', '73', None),
 (2600, '2011', 'HI', 'Crude Rate', '18.9', 'cases per 1,000,000'),
 (2612, '2015', 'IL', 'Number', '157', None),
 (2613, '2013', 'FL', 'Number', '188', None),
 (2614, '2012', 'IA', 'Number', '35', None),
 (2623, '2014', 'FL', 'Crude Rate', '9.6', 'cases per 1,000,000'),
 (2625, '2014', 'ID', 'Number', '22', None),
 (2630, '2011', 'CA', 'Number', '403', None),
 (2635, '2012', 'AL', 'Number', '57', None),
 (2673, '2016', 'AL', 'Number', '48', None),
 (2684, '2017', 'CT', 'Number', '38', None),
 (2685, '2014', 'HI', 'Crude Rate', '16.9', 'cases per 1,000,000'),
 (2702, '2015', 'AR', 'Crude Rate', '10.1', 'cases per 1,000,000'),
 (2750, '2015', 'GA', 'Age-adjusted Rate', '9.1', 'cases per 1,000,000'),
 (2768, '2013', 'KS', 'Age-adjusted Rate', '10.2', 'cases per 1,000,000'),
 (2781, '2012', 'ID', 'Crude Rate', '13.2', 'cases per 1,000,000'),
 (2786, '2017', 'ID', 'Number', '27', None),
 (2800, '2012', 'IL', 'Number', '174', None),
 (2802, '2015', 'CT', 'Number', '48', None),
 (2833, '2013', 'CT', 'Crude Rate', '10', 'cases per 1,000,000'),
 (2835, '2016', 'FL', 'Age-adjusted Rate', '7.5', 'cases per 1,000,000'),
 (2854, '2012', 'AZ', 'Number', '80', None),
 (2863, '2013', 'AL', 'Number', '42', None),
 (2870, '2015', 'IA', 'Number', '41', None),
 (2889, '2013', 'IA', 'Number', '36', None),
 (2905, '2012', 'GA', 'Crude Rate', '9.4', 'cases per 1,000,000'),
 (2907, '2012', 'AR', 'Number', '30', None),
 (2912, '2011', 'FL', 'Crude Rate', '7.8', 'cases per 1,000,000'),
 (2913, '2011', 'IL', 'Number', '176', None),
 (2918, '2013', 'CA', 'Age-adjusted Rate', '10.4', 'cases per 1,000,000'),
 (2920, '2016', 'CA', 'Age-adjusted Rate', '9.3', 'cases per 1,000,000'),
 (2921, '2014', 'CO', 'Age-adjusted Rate', '7.8', 'cases per 1,000,000'),
 (2951, '2013', 'GA', 'Number', '101', None),
 (2969, '2014', 'AL', 'Number', '57', None),
 (2971, '2014', 'KS', 'Age-adjusted Rate', '8.4', 'cases per 1,000,000'),
 (2972, '2010', 'ID', 'Number', '21', None),
 (2977, '2015', 'FL', 'Crude Rate', '8.6', 'cases per 1,000,000'),
 (2983, '2015', 'ID', 'Number', '21', None),
 (2995, '2017', 'FL', 'Number', '179', None),
 (2996, '2014', 'IA', 'Age-adjusted Rate', '13.7', 'cases per 1,000,000'),
 (3008, '2013', 'IN', 'Age-adjusted Rate', '9.7', 'cases per 1,000,000'),
 (3014, '2017', 'CT', 'Crude Rate', '10.6', 'cases per 1,000,000'),
 (3023, '2016', 'AR', 'Number', '45', None),
 (3029, '2010', 'AZ', 'Age-adjusted Rate', '8.6', 'cases per 1,000,000'),
 (3053, '2014', 'CT', 'Age-adjusted Rate', '8.7', 'cases per 1,000,000'),
 (3054, '2012', 'AL', 'Crude Rate', '11.8', 'cases per 1,000,000'),
 (3061, '2010', 'CO', 'Age-adjusted Rate', '10.2', 'cases per 1,000,000'),
 (3126, '2016', 'IL', 'Number', '149', None),
 (3129, '2013', 'CO', 'Age-adjusted Rate', '9.8', 'cases per 1,000,000'),
 (3139, '2017', 'AR', 'Age-adjusted Rate', '9.4', 'cases per 1,000,000'),
 (3144, '2015', 'CT', 'Age-adjusted Rate', '11.1', 'cases per 1,000,000'),
 (3195, '2016', 'IN', 'Number', '55', None),
 (3221, '2010', 'KS', 'Age-adjusted Rate', '10.8', 'cases per 1,000,000'),
 (3231, '2017', 'CA', 'Age-adjusted Rate', '9.3', 'cases per 1,000,000'),
 (3234, '2015', 'CA', 'Crude Rate', '10', 'cases per 1,000,000'),
 (3236, '2017', 'IN', 'Age-adjusted Rate', '11', 'cases per 1,000,000'),
 (3290, '2015', 'NE', 'Crude Rate', '19', 'cases per 1,000,000'),
 (3295, '2010', 'MD', 'Age-adjusted Rate', '11.4', 'cases per 1,000,000'),

# ETL of [Air Data](https://www.epa.gov/outdoor-air-quality-data)

In [ ]:
# final table needs to have: year, state_id, air_quality_indexes

In [299]:
#filtered_asthma_df['year'].unique()

array(['2011', '2013', '2012', '2015', '2019', '2014', '2016', '2017',
       '2010', '2018'], dtype=object)

In [332]:
#res_list = []
#for year in ['2011','2012']:
#    url= f'https://aqs.epa.gov/data/api/annualData/byState?email={userID}&key={key}&param=81102,81104&bdate={year}0101&edate={year}1231&state=37'
#    r = requests.get(url)
#    print(r.status_code)
#    res_list += [r.json()]

200
200

In [345]:
#air_df_list = []

#for res in res_list:
#    air_df_list += [pd.DataFrame(res['Data'])]
#air_df = pd.concat(air_df_list)
#air_df

,state_code,county_code,site_number,parameter_code,poc,latitude,longitude,datum,parameter,sample_duration,...,fiftieth_percentile,tenth_percentile,local_site_name,site_address,state,county,city,cbsa_code,cbsa,date_of_last_change
0,37,117,0001,81102,1,35.810660,-76.906300,WGS84,PM10 Total 0-10um STP,24 HOUR,...,9.0,9.0,Jamesville School,1210 Hayes Street,North Carolina,Martin,Jamesville,None,None,2020-05-21
1,37,123,0001,81102,1,35.263165,-79.836636,NAD83,PM10 Total 0-10um STP,24 HOUR,...,12.0,6.0,Candor: EPA CASTNet Site,126 PERRY DRIVE,North Carolina,Montgomery,Candor,None,None,2020-05-21
2,37,183,0014,81102,7,35.856111,-78.574167,WGS84,PM10 Total 0-10um STP,24 HOUR,...,14.0,7.0,Millbrook School,3801 SPRING FOREST RD.,North Carolina,Wake,Raleigh,39580,"Raleigh, NC",2020-05-21
3,37,111,0004,81102,1,35.687406,-81.993808,WGS84,PM10 Total 0-10um STP,24 HOUR,...,14.0,6.0,Marion Sch.,676 State Street,North Carolina,McDowell,Marion,32000,"Marion, NC",2020-05-21
4,37,035,0004,81102,2,35.728889,-81.365556,WGS84,PM10 Total 0-10um STP,24 HOUR,...,13.0,7.0,Hickory Water Tower,1650 1ST STREET,North Carolina,Catawba,Hickory,25860,"Hickory-Lenoir-Morganton, NC",2020-05-21
5,37,035,0004,81102,1,35.728889,-81.365556,WGS84,PM10 Total 0-10um STP,24 HOUR,...,13.0,5.0,Hickory Water Tower,1650 1ST STREET,North Carolina,Catawba,Hickory,25860,"Hickory-Lenoir-Morganton, NC",2020-05-21
6,37,081,0013,81102,1,36.109006,-79.802314,NAD83,PM10 Total 0-10um STP,24 HOUR,...,9.0,5.0,Mendenhall School,205 WILOUGHBY BLVD,North Carolina,Guilford,Greensboro,24660,"Greensboro-High Point, NC",2020-05-21
7,37,051,0009,81102,1,35.041416,-78.953112,WGS84,PM10 Total 0-10um STP,24 HOUR,...,13.0,6.0,William Owen School,4533 RAEFORD RD,North Carolina,Cumberland,Fayetteville,22180,"Fayetteville, NC",2020-05-21
8,37,063,0015,81102,7,36.032955,-78.904037,NAD83,PM10 Total 0-10um STP,24 HOUR,...,14.0,8.0,Durham Armory,801 STADIUM DRIVE,North Carolina,Durham,Durham,20500,"Durham-Chapel Hill, NC",2020-05-21
9,37,119,0003,81102,2,35.251717,-80.824717,WGS84,PM10 Total 0-10um STP,24 HOUR,...,21.0,9.0,#11 Fire Station,FIRE STA #11 620 WEST 28TH STREET,North Carolina,Mecklenburg,Charlotte,16740,"Charlotte-Concord-Gastonia, NC-SC",2020-05-21
10,37,119,0003,81102,1,35.251717,-80.824717,WGS84,PM10 Total 0-10um STP,24 HOUR,...,20.0,8.0,#11 Fire Station,FIRE STA #11 620 WEST 28TH STREET,North Carolina,Mecklenburg,Charlotte,16740,"Charlotte-Concord-Gastonia, NC-SC",2020-05-21
11,37,119,0041,81102,1,35.240100,-80.785683,WGS84,PM10 Total 0-10um STP,24 HOUR,...,17.0,7.0,Garinger High School,1130 EASTWAY DRIVE,North Carolina,Mecklenburg,Charlotte,16740,"Charlotte-Concord-Gastonia, NC-SC",2020-05-21
12,37,119,0042,81102,2,35.151283,-80.866983,WGS84,PM10 Total 0-10um STP,24 HOUR,...,16.0,6.0,Montclaire Elementary School,1935 Emerywood Drive,North Carolina,Mecklenburg,Charlotte,16740,"Charlotte-Concord-Gastonia, NC-SC",2020-05-21
13,37,119,0042,81102,1,35.151283,-80.866983,WGS84,PM10 Total 0-10um STP,24 HOUR,...,17.0,6.0,Montclaire Elementary School,1935 Emerywood Drive,North Carolina,Mecklenburg,Charlotte,16740,"Charlotte-Concord-Gastonia, NC-SC",2020-05-21
14,37,067,0022,81102,1,36.110940,-80.224501,WGS84,PM10 Total 0-10um STP,24-HR BLK AVG,...,13.0,6.0,Hattie Avenue,1300 BLK. HATTIE AVENUE,North Carolina,Forsyth,Winston-Salem,49180,"Winston-Salem, NC",2020-05-21
15,37,067,0023,81102,2,36.065970,-80.258105,WGS84,PM10 Total 0-10um STP,24-HR BLK AVG,...,14.0,7.0,Peters Creek,1401 CORPORATION PARKWAY,North Carolina,Forsyth,Winston-Salem,49180,"Winston-Salem, NC",2020-05-21
16,37,067,0022,81102,1,36.110940,-80.224501,WGS84,PM10 Total 0-10um STP,1 HOUR,...,14.0,6.0,Hattie Avenue,1300 BLK. HATTIE AVENUE,North Carolina,Forsyth,Winston-Salem,49180,"Winston-Salem, NC",2020-05-21
17,37,067,0023,81102,2,36.065970,-80.258105,WGS84,PM10 Total 0-10um STP,1 HOUR,...,13.0,5.0,Peters Creek,1401 CORPORATION PARKWAY,North Carolina,Forsyth,Winston-Salem,49180,"Winston-Salem, NC",2020-05-21
0,37,067,0022,81102,1,36.110940,-80.224501,WGS84,PM10 Total 0-10um STP,1 HOUR,...,13.0,6.0,Hattie Avenue,1300 BLK. HATTIE AVENUE,North Carolina,Forsyth,Winston-Salem,49180,"Winston-Salem, NC",2020-05-21
1,37,067,0022,81102,1,36.110940,-80.224501,WGS84,PM10 Total 0-10um STP,24-HR BLK AVG,...,12.0,7.0,Hattie Avenue,1300 BLK. HATTIE AVENUE,North Carolina,Forsyth,Winston-Salem,49180,"Winston-Salem, NC",2020-05-21
2,37,119,0042,81102,2,35.151283,-80.866983,WGS84,PM10 Total 0-10um STP,24 HOUR,...,14.0,8.0,Montclaire Elementary School,1935 Emerywood Drive,North Carolina,Mecklenburg,Charlotte,16740,"Charlotte-Concord-Gastonia, NC-SC",2020-05-21
3,37,119,0042,81102,1,35.151283,-80.866983,WGS84,PM10 Total 0-10um STP,24 HOUR,...,16.0,8.0,Montclaire Elementary School,1935 Emerywood Drive,North Carolina,Mecklenburg,Charlotte,16740,"Charlotte-Concord-Gastonia, NC-SC",2020-05-21
4,37,119,0041,81102,1,35.240100,-80.785683,WGS84,PM10 Total 0-10um STP,24 HOUR,...,15.0,8.0,Garinger High School,1130 EASTWAY DRIVE,North Carolina,Mecklenburg,Charlotte,16740,"Charlotte-Concord-Gastonia, NC-SC",2020-05-21
5,37,119,0003,81102,2,35.251717,-80.824717,WGS84,PM10 Total 0-10um STP,24 HOUR,...,17.0,10.0,#11 Fire Station,FIRE STA #11 620 WEST 28TH STREET,North Carolina,Mecklenburg,Charlotte,16740,"Charlotte-Concord-Gastonia, NC-SC",2020-05-21
6,37,119,0003,81102,1,35.251717,-80.824717,WGS84,PM10 Total 0-10um STP,24 HOUR,...,17.0,10.0,#11 Fire Station,FIRE STA #11 620 WEST 28TH STREET,North Carolina,Mecklenburg,Charlotte,16740,"Charlotte-Concord-Gastonia, NC-SC",2020-05-21
7,37,063,0015,81102,7,36.032955,-78.904037,NAD83,PM10 Total 0-10um STP,24 HOUR,...,13.0,7.0,Durham Armory,801 STADIUM DRIVE,North Carolina,Durham,Durham,20500,"Durham-Chapel Hill, NC",2020-05-21
8,37,051,0009,81102,1,35.041416,-78.953112,WGS84,PM10 Total 0-10um STP,24 HOUR,...,15.0,10.0,William Owen School,4533 RAEFORD RD,North Carolina,Cumberland,Fayetteville,22180,"Fayetteville, NC",2020-05-21
9,37,081,0013,81102,1,36.109006,-79.802314,NAD83,PM10 Total 0-10um STP,24 HOUR,...,13.0,8.0,Mendenhall School,205 WILOUGHBY BLVD,North Carolina,Guilford,Greensboro,24660,"Greensboro-High Point, NC",2020-05-21
10,37,035,0004,81102,2,35.728889,-81.365556,WGS84,PM10 Total 0-10um STP,24 HOUR,...,15.0,10.0,Hickory Water Tower,1650 1ST STREET,North Carolina,Catawba,Hickory,25860,"Hickory-Lenoir-Morganton, NC",2020-05-21
11,37,035,0004,81102,1,35.728889,-81.365556,WGS84,PM10 Total 0-10um STP,24 HOUR,...,16.0,12.0,Hickory Water Tower,1650 1ST STREET,North Carolina,Catawba,Hickory,25860,"Hickory-Lenoir-Morganton, NC",2020-05-21
12,37,111,0004,81102,1,35.687406,-81.993808,WGS84,PM10 Total 0-10um STP,24 HOUR,...,16.0,13.0,Marion Sch.,676 State Street,North Carolina,McDowell,Marion,32000,"Marion, NC",2020-05-21
13,37,183,0014,81102,7,35.856111,-78.574167,WGS84,PM10 Total 0-10um STP,24 HOUR,...,13.0,8.0,Millbrook School,3801 SPRING FOREST RD.,North Carolina,Wake,Raleigh,39580,"Raleigh, NC",2020-05-21
14,37,123,0001,81102,1,35.263165,-79.836636,NAD83,PM10 Total 0-10um STP,24 HOUR,...,10.0,5.0,Candor: EPA CASTNet Site,126 PERRY DRIVE,North Carolina,Montgomery,Candor,None,None,2020-05-21
15,37,117,0001,81102,1,35.810660,-76.906300,WGS84,PM10 Total 0-10um STP,24 HOUR,...,13.0,8.0,Jamesville School,1210 Hayes Street,North Carolina,Martin,Jamesville,None,None,2020-05-21

In [346]:
#air_df['parameter'].unique()

array(['PM10 Total 0-10um STP'], dtype=object)

In [347]:
#air_df.columns

Index(['state_code', 'county_code', 'site_number', 'parameter_code', 'poc',
       'latitude', 'longitude', 'datum', 'parameter', 'sample_duration',
       'pollutant_standard', 'metric_used', 'method', 'year',
       'units_of_measure', 'event_type', 'observation_count',
       'observation_percent', 'validity_indicator', 'valid_day_count',
       'required_day_count', 'exceptional_data_count',
       'null_observation_count', 'primary_exceedance_count',
       'secondary_exceedance_count', 'certification_indicator',
       'arithmetic_mean', 'standard_deviation', 'first_max_value',
       'first_max_datetime', 'second_max_value', 'second_max_datetime',
       'third_max_value', 'third_max_datetime', 'fourth_max_value',
       'fourth_max_datetime', 'first_max_nonoverlap_value',
       'first_max_n_o_datetime', 'second_max_nonoverlap_value',
       'second_max_n_o_datetime', 'ninety_ninth_percentile',
       'ninety_eighth_percentile', 'ninety_fifth_percentile',
       'ninetieth_percentile', 'seventy_fifth_percentile',
       'fiftieth_percentile', 'tenth_percentile', 'local_site_name',
       'site_address', 'state', 'county', 'city', 'cbsa_code', 'cbsa',
       'date_of_last_change'],
      dtype='object')

In [349]:
#air_df['observation_percent']

0       2.0
1      85.0
2      98.0
3      80.0
4      93.0
5      97.0
6      93.0
7     100.0
8      91.0
9      90.0
10     95.0
11     98.0
12     97.0
13     98.0
14     79.0
15     51.0
16     80.0
17     51.0
0      98.0
1      98.0
2      98.0
3      96.0
4      96.0
5      97.0
6      98.0
7      95.0
8     100.0
9      90.0
10     82.0
11     84.0
12     16.0
13     98.0
14     16.0
15    100.0
Name: observation_percent, dtype: float64

In [291]:
#closing the connection to the sqlite database
conn.close()