In [1]:
import glob
import pandas as pd
import sqlite3
from pymongo import MongoClient
from sodapy import Socrata
import requests
from math import ceil
import glob

In [2]:
#connecting to the sqlite database
conn = sqlite3.connect('health_air.db')
#connecting to the MongoDB Database
mongo_client = MongoClient()
#creating the MongoDB
mydb = mongo_client['health_air_mongo']

In [3]:
#function to add a table to the database
def add_table_to_db(table_name, df, connection_db):
    cur = conn.cursor()
    df.to_sql(name=table_name, if_exists='replace', con=conn)
    return(cur.execute(f"""SELECT * FROM {table_name};""").fetchall())

In [4]:
def add_collection_to_mongo (collection_name, df, mongo_db_conn = mydb):
    mongo_db_conn[collection_name].insert_many(df.to_dict('records'))
    return print(f'{collection_name} stored in the MongoDB database named {mydb}')

# ETL of [Asthma data](https://chronicdata.cdc.gov/Chronic-Disease-Indicators/U-S-Chronic-Disease-Indicators-Asthma/us8e-ubyj)

In [5]:
# Instruction from the CDC website to extract data
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("chronicdata.cdc.gov", None)

# Return as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get_all("us8e-ubyj")

# Convert to pandas DataFrame
asthma_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [6]:
asthma_df

,yearstart,yearend,locationabbr,locationdesc,datasource,topic,question,datavaluetype,datavalue,datavaluealt,...,topicid,questionid,datavaluetypeid,stratificationcategoryid1,stratificationid1,datavalueunit,lowconfidencelimit,highconfidencelimit,datavaluefootnotesymbol,datavaluefootnote
0,2012,2012,AL,Alabama,NVSS,Asthma,Asthma mortality rate,Number,37,37,...,AST,AST4_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN,NaN
1,2014,2014,AL,Alabama,NVSS,Asthma,Asthma mortality rate,Number,22,22,...,AST,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN,NaN
2,2011,2011,AZ,Arizona,NVSS,Asthma,Asthma mortality rate,Number,29,29,...,AST,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN,NaN
3,2015,2015,CT,Connecticut,NVSS,Asthma,Asthma mortality rate,Number,34,34,...,AST,AST4_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN,NaN
4,2011,2011,FL,Florida,NVSS,Asthma,Asthma mortality rate,Number,54,54,...,AST,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64714,2011,2011,WI,Wisconsin,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,Age-adjusted Prevalence,NaN,NaN,...,AST,AST6_2,AGEADJPREV,GENDER,GENM,%,NaN,NaN,****,Sample size of denominator and/or age group fo...
64715,2016,2016,TX,Texas,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,Age-adjusted Prevalence,NaN,NaN,...,AST,AST6_2,AGEADJPREV,RACE,MRC,%,NaN,NaN,****,Sample size of denominator and/or age group fo...
64716,2019,2019,WI,Wisconsin,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,Age-adjusted Prevalence,NaN,NaN,...,AST,AST6_2,AGEADJPREV,RACE,OTH,%,NaN,NaN,****,Sample size of denominator and/or age group fo...
64717,2014,2014,PR,Puerto Rico,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,Crude Prevalence,NaN,NaN,...,AST,AST6_2,CRDPREV,GENDER,GENM,%,NaN,NaN,****,Sample size of denominator and/or age group fo...
64718,2017,2017,WI,Wisconsin,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,Age-adjusted Prevalence,NaN,NaN,...,AST,AST6_2,AGEADJPREV,RACE,BLK,%,NaN,NaN,****,Sample size of denominator and/or age group fo...

In [7]:
#printing the names of the dataframe columns
asthma_df.columns

Index(['yearstart', 'yearend', 'locationabbr', 'locationdesc', 'datasource',
       'topic', 'question', 'datavaluetype', 'datavalue', 'datavaluealt',
       'stratificationcategory1', 'stratification1', 'locationid', 'topicid',
       'questionid', 'datavaluetypeid', 'stratificationcategoryid1',
       'stratificationid1', 'datavalueunit', 'lowconfidencelimit',
       'highconfidencelimit', 'datavaluefootnotesymbol', 'datavaluefootnote'],
      dtype='object')

In [8]:
# printing the question the data are answering
asthma_df['question'].unique()

array(['Asthma mortality rate',
       'Emergency department visit rate for asthma',
       'Hospitalizations for asthma',
       'Current asthma prevalence among adults aged >= 18 years',
       'Asthma prevalence among women aged 18-44 years',
       'Influenza vaccination among noninstitutionalized adults aged 18-64 years with asthma',
       'Influenza vaccination among noninstitutionalized adults aged >= 65 years with asthma',
       'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with asthma',
       'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma'],
      dtype=object)

In [9]:
#list containing the questions of interest for our project
questions_OI = ['Asthma mortality rate',\
                'Emergency department visit rate for asthma',\
                'Hospitalizations for asthma',\
                'Current asthma prevalence among adults aged >= 18 years',\
                'Asthma prevalence among women aged 18-44 years']

In [10]:
#retrieving the unique ID per question so that we address eventual spelling mistakes
questionids_list=[]
for question in questions_OI:
    questionids_list += list(asthma_df[asthma_df['question']==question]['questionid'].unique())
print(questionids_list)

['AST4_1', 'AST2_1', 'AST3_1', 'AST1_1', 'AST1_2']

In [11]:
# filtering the dataset for the questions of interest
filtered_asthma_df = asthma_df[asthma_df['questionid'].isin(questionids_list)]
filtered_asthma_df

,yearstart,yearend,locationabbr,locationdesc,datasource,topic,question,datavaluetype,datavalue,datavaluealt,...,topicid,questionid,datavaluetypeid,stratificationcategoryid1,stratificationid1,datavalueunit,lowconfidencelimit,highconfidencelimit,datavaluefootnotesymbol,datavaluefootnote
0,2012,2012,AL,Alabama,NVSS,Asthma,Asthma mortality rate,Number,37,37,...,AST,AST4_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN,NaN
1,2014,2014,AL,Alabama,NVSS,Asthma,Asthma mortality rate,Number,22,22,...,AST,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN,NaN
2,2011,2011,AZ,Arizona,NVSS,Asthma,Asthma mortality rate,Number,29,29,...,AST,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN,NaN
3,2015,2015,CT,Connecticut,NVSS,Asthma,Asthma mortality rate,Number,34,34,...,AST,AST4_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN,NaN
4,2011,2011,FL,Florida,NVSS,Asthma,Asthma mortality rate,Number,54,54,...,AST,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37547,2019,2019,ID,Idaho,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,Age-adjusted Prevalence,7.9,7.9,...,AST,AST1_1,AGEADJPREV,GENDER,GENM,%,6.4,9.7,NaN,NaN
37548,2017,2017,GA,Georgia,BRFSS,Asthma,Asthma prevalence among women aged 18-44 years,Crude Prevalence,12.2,12.2,...,AST,AST1_2,CRDPREV,RACE,WHT,%,8.8,16.8,NaN,NaN
37549,2013,2013,FL,Florida,BRFSS,Asthma,Asthma prevalence among women aged 18-44 years,Crude Prevalence,10,10,...,AST,AST1_2,CRDPREV,OVERALL,OVR,%,8.6,11.5,NaN,NaN
37550,2014,2014,MO,Missouri,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,Crude Prevalence,9.7,9.7,...,AST,AST1_1,CRDPREV,OVERALL,OVR,%,8.7,10.8,NaN,NaN
37551,2013,2013,WV,West Virginia,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,Crude Prevalence,9,9,...,AST,AST1_1,CRDPREV,OVERALL,OVR,%,8.2,9.9,NaN,NaN

In [12]:
#checking if column 'yearstart' and 'yearend' are the same
print(f"Are the columns datavalue and datavaluealt end the same?\n{filtered_asthma_df['datavalue'].equals(filtered_asthma_df['datavaluealt'])}")
print(f"Are the columns yearstart and year end the same?\n{filtered_asthma_df['yearstart'].equals(filtered_asthma_df['yearend'])}")
#if these columns are the same drop one of the duplicates and other not useful columns
if filtered_asthma_df['yearstart'].equals(filtered_asthma_df['yearend']):
    columns_to_drop = ['yearend',\
                        'topic',\
                        'datavaluealt',\
                        'topicid',\
                        'datavaluetypeid',\
                        'stratificationcategoryid1',\
                        'stratificationid1',\
                        'lowconfidencelimit',\
                       'highconfidencelimit',\
                       'datavaluefootnotesymbol',\
                      'datavaluefootnote']
    filtered_asthma_df=filtered_asthma_df.drop(columns=columns_to_drop)
    print(f"The following columns {columns_to_drop} were dropped")

Are the columns datavalue and datavaluealt end the same?
True
Are the columns yearstart and year end the same?
True
The following columns ['yearend', 'topic', 'datavaluealt', 'topicid', 'datavaluetypeid', 'stratificationcategoryid1', 'stratificationid1', 'lowconfidencelimit', 'highconfidencelimit', 'datavaluefootnotesymbol', 'datavaluefootnote'] were dropped

In [13]:
#renaming some columns
filtered_asthma_df=filtered_asthma_df.rename(columns={"yearstart": "year","locationabbr":"state_id","locationdesc":"state"})

In [14]:
#checking for missing data
filtered_asthma_df.isnull().sum()

year                           0
state_id                       0
state                          0
datasource                     0
question                       0
datavaluetype                  0
datavalue                  17261
stratificationcategory1        0
stratification1                0
locationid                     0
questionid                     0
datavalueunit               7548
dtype: int64

In [15]:
# removing missing data values
filtered_asthma_df=filtered_asthma_df[filtered_asthma_df['datavalue'].isna()==False]
filtered_asthma_df

,year,state_id,state,datasource,question,datavaluetype,datavalue,stratificationcategory1,stratification1,locationid,questionid,datavalueunit
0,2012,AL,Alabama,NVSS,Asthma mortality rate,Number,37,Gender,Female,1,AST4_1,NaN
1,2014,AL,Alabama,NVSS,Asthma mortality rate,Number,22,Gender,Male,1,AST4_1,NaN
2,2011,AZ,Arizona,NVSS,Asthma mortality rate,Number,29,Gender,Male,4,AST4_1,NaN
3,2015,CT,Connecticut,NVSS,Asthma mortality rate,Number,34,Gender,Female,9,AST4_1,NaN
4,2011,FL,Florida,NVSS,Asthma mortality rate,Number,54,Gender,Male,12,AST4_1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37547,2019,ID,Idaho,BRFSS,Current asthma prevalence among adults aged >=...,Age-adjusted Prevalence,7.9,Gender,Male,16,AST1_1,%
37548,2017,GA,Georgia,BRFSS,Asthma prevalence among women aged 18-44 years,Crude Prevalence,12.2,Race/Ethnicity,"White, non-Hispanic",13,AST1_2,%
37549,2013,FL,Florida,BRFSS,Asthma prevalence among women aged 18-44 years,Crude Prevalence,10,Overall,Overall,12,AST1_2,%
37550,2014,MO,Missouri,BRFSS,Current asthma prevalence among adults aged >=...,Crude Prevalence,9.7,Overall,Overall,29,AST1_1,%
37551,2013,WV,West Virginia,BRFSS,Current asthma prevalence among adults aged >=...,Crude Prevalence,9,Overall,Overall,54,AST1_1,%

In [16]:
# checking that all the missing data value were correctly removed
filtered_asthma_df.isnull().sum()

year                          0
state_id                      0
state                         0
datasource                    0
question                      0
datavaluetype                 0
datavalue                     0
stratificationcategory1       0
stratification1               0
locationid                    0
questionid                    0
datavalueunit              2827
dtype: int64

In [17]:
filtered_asthma_df['question'].unique()

array(['Asthma mortality rate',
       'Emergency department visit rate for asthma',
       'Hospitalizations for asthma',
       'Current asthma prevalence among adults aged >= 18 years',
       'Asthma prevalence among women aged 18-44 years'], dtype=object)

In [18]:
# drop territories (PR, GU, VI) and nation-wide data (US)
state_to_drop = ['PR','GU','US','VI']
filtered_asthma_df = filtered_asthma_df[~filtered_asthma_df['state_id'].isin(state_to_drop)]

filtered_asthma_df

,year,state_id,state,datasource,question,datavaluetype,datavalue,stratificationcategory1,stratification1,locationid,questionid,datavalueunit
0,2012,AL,Alabama,NVSS,Asthma mortality rate,Number,37,Gender,Female,1,AST4_1,NaN
1,2014,AL,Alabama,NVSS,Asthma mortality rate,Number,22,Gender,Male,1,AST4_1,NaN
2,2011,AZ,Arizona,NVSS,Asthma mortality rate,Number,29,Gender,Male,4,AST4_1,NaN
3,2015,CT,Connecticut,NVSS,Asthma mortality rate,Number,34,Gender,Female,9,AST4_1,NaN
4,2011,FL,Florida,NVSS,Asthma mortality rate,Number,54,Gender,Male,12,AST4_1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37547,2019,ID,Idaho,BRFSS,Current asthma prevalence among adults aged >=...,Age-adjusted Prevalence,7.9,Gender,Male,16,AST1_1,%
37548,2017,GA,Georgia,BRFSS,Asthma prevalence among women aged 18-44 years,Crude Prevalence,12.2,Race/Ethnicity,"White, non-Hispanic",13,AST1_2,%
37549,2013,FL,Florida,BRFSS,Asthma prevalence among women aged 18-44 years,Crude Prevalence,10,Overall,Overall,12,AST1_2,%
37550,2014,MO,Missouri,BRFSS,Current asthma prevalence among adults aged >=...,Crude Prevalence,9.7,Overall,Overall,29,AST1_1,%
37551,2013,WV,West Virginia,BRFSS,Current asthma prevalence among adults aged >=...,Crude Prevalence,9,Overall,Overall,54,AST1_1,%

In [19]:
#checking for duplicates
filtered_asthma_df=filtered_asthma_df.drop_duplicates()
filtered_asthma_df

,year,state_id,state,datasource,question,datavaluetype,datavalue,stratificationcategory1,stratification1,locationid,questionid,datavalueunit
0,2012,AL,Alabama,NVSS,Asthma mortality rate,Number,37,Gender,Female,1,AST4_1,NaN
1,2014,AL,Alabama,NVSS,Asthma mortality rate,Number,22,Gender,Male,1,AST4_1,NaN
2,2011,AZ,Arizona,NVSS,Asthma mortality rate,Number,29,Gender,Male,4,AST4_1,NaN
3,2015,CT,Connecticut,NVSS,Asthma mortality rate,Number,34,Gender,Female,9,AST4_1,NaN
4,2011,FL,Florida,NVSS,Asthma mortality rate,Number,54,Gender,Male,12,AST4_1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37547,2019,ID,Idaho,BRFSS,Current asthma prevalence among adults aged >=...,Age-adjusted Prevalence,7.9,Gender,Male,16,AST1_1,%
37548,2017,GA,Georgia,BRFSS,Asthma prevalence among women aged 18-44 years,Crude Prevalence,12.2,Race/Ethnicity,"White, non-Hispanic",13,AST1_2,%
37549,2013,FL,Florida,BRFSS,Asthma prevalence among women aged 18-44 years,Crude Prevalence,10,Overall,Overall,12,AST1_2,%
37550,2014,MO,Missouri,BRFSS,Current asthma prevalence among adults aged >=...,Crude Prevalence,9.7,Overall,Overall,29,AST1_1,%
37551,2013,WV,West Virginia,BRFSS,Current asthma prevalence among adults aged >=...,Crude Prevalence,9,Overall,Overall,54,AST1_1,%

In [20]:
#checking that there isn't more than one data value entry for the same year and state.
duplicateRowsDF = filtered_asthma_df[filtered_asthma_df.duplicated(subset=['year','state_id','state','datasource','question','datavaluetype','datavaluetype','stratificationcategory1','stratification1','locationid','questionid','datavalueunit'], keep=False)]
duplicateRowsDF

Empty DataFrame
Columns: [year, state_id, state, datasource, question, datavaluetype, datavalue, stratificationcategory1, stratification1, locationid, questionid, datavalueunit]
Index: []

In [21]:
#keeping only the Overall values
filtered_asthma_df = filtered_asthma_df[filtered_asthma_df['stratificationcategory1'] == 'Overall']
filtered_asthma_df

,year,state_id,state,datasource,question,datavaluetype,datavalue,stratificationcategory1,stratification1,locationid,questionid,datavalueunit
6,2011,HI,Hawaii,NVSS,Asthma mortality rate,Number,26,Overall,Overall,15,AST4_1,NaN
7,2013,HI,Hawaii,NVSS,Asthma mortality rate,Number,24,Overall,Overall,15,AST4_1,NaN
12,2012,TX,Texas,NVSS,Asthma mortality rate,Number,206,Overall,Overall,48,AST4_1,NaN
14,2015,WA,Washington,NVSS,Asthma mortality rate,Number,88,Overall,Overall,53,AST4_1,NaN
21,2019,NY,New York,BRFSS,Asthma prevalence among women aged 18-44 years,Crude Prevalence,12,Overall,Overall,36,AST1_2,%
...,...,...,...,...,...,...,...,...,...,...,...,...
37524,2013,ID,Idaho,BRFSS,Current asthma prevalence among adults aged >=...,Age-adjusted Prevalence,8.7,Overall,Overall,16,AST1_1,%
37536,2019,NC,North Carolina,BRFSS,Current asthma prevalence among adults aged >=...,Age-adjusted Prevalence,8.2,Overall,Overall,37,AST1_1,%
37549,2013,FL,Florida,BRFSS,Asthma prevalence among women aged 18-44 years,Crude Prevalence,10,Overall,Overall,12,AST1_2,%
37550,2014,MO,Missouri,BRFSS,Current asthma prevalence among adults aged >=...,Crude Prevalence,9.7,Overall,Overall,29,AST1_1,%
37551,2013,WV,West Virginia,BRFSS,Current asthma prevalence among adults aged >=...,Crude Prevalence,9,Overall,Overall,54,AST1_1,%

In [22]:
# final dropping of unnecessary columns
filtered_asthma_df=filtered_asthma_df.drop(columns=['state',\
                                                    'datasource',\
                                                    'question',\
                                                    'stratificationcategory1',\
                                                    'stratification1',\
                                                    'locationid',\
                                                    'questionid'])
filtered_asthma_df

       year state_id            datavaluetype datavalue datavalueunit
6      2011       HI                   Number        26           NaN
7      2013       HI                   Number        24           NaN
12     2012       TX                   Number       206           NaN
14     2015       WA                   Number        88           NaN
21     2019       NY         Crude Prevalence        12             %
...     ...      ...                      ...       ...           ...
37524  2013       ID  Age-adjusted Prevalence       8.7             %
37536  2019       NC  Age-adjusted Prevalence       8.2             %
37549  2013       FL         Crude Prevalence        10             %
37550  2014       MO         Crude Prevalence       9.7             %
37551  2013       WV         Crude Prevalence         9             %

[3035 rows x 5 columns]

In [23]:
# adding collection about asthma to MongoDB
add_collection_to_mongo('asthma',filtered_asthma_df)

asthma stored in the MongoDB database named Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'health_air_mongo')

In [24]:
# adding the asthma table to the database and controlling that there are data recorded.
add_table_to_db('asthma',filtered_asthma_df, conn)

[(6, '2011', 'HI', 'Number', '26', None),
 (7, '2013', 'HI', 'Number', '24', None),
 (12, '2012', 'TX', 'Number', '206', None),
 (14, '2015', 'WA', 'Number', '88', None),
 (21, '2019', 'NY', 'Crude Prevalence', '12', '%'),
 (22, '2011', 'VA', 'Crude Prevalence', '11.9', '%'),
 (24, '2014', 'GA', 'Number', '96', None),
 (31, '2013', 'IN', 'Number', '69', None),
 (34, '2012', 'CA', 'Number', '384', None),
 (41, '2013', 'NC', 'Number', '112', None),
 (42, '2013', 'WA', 'Number', '87', None),
 (45, '2016', 'NY', 'Number', '273', None),
 (58, '2017', 'IA', 'Number', '32', None),
 (69, '2017', 'AR', 'Crude Rate', '10.7', 'cases per 1,000,000'),
 (74, '2013', 'AL', 'Crude Rate', '8.7', 'cases per 1,000,000'),
 (81, '2015', 'CT', 'Crude Rate', '13.4', 'cases per 1,000,000'),
 (83, '2011', 'CO', 'Crude Rate', '8.2', 'cases per 1,000,000'),
 (84, '2014', 'IL', 'Age-adjusted Rate', '12.2', 'cases per 1,000,000'),
 (85, '2015', 'IA', 'Crude Rate', '13.1', 'cases per 1,000,000'),
 (92, '2013', 'CT', 'Number', '36', None),
 (100, '2017', 'ID', 'Crude Rate', '15.7', 'cases per 1,000,000'),
 (107, '2011', 'FL', 'Number', '148', None),
 (111, '2012', 'KS', 'Age-adjusted Rate', '8.9', 'cases per 1,000,000'),
 (156, '2010', 'KS', 'Crude Rate', '11.6', 'cases per 1,000,000'),
 (182, '2014', 'CO', 'Number', '41', None),
 (185, '2014', 'HI', 'Age-adjusted Rate', '14.6', 'cases per 1,000,000'),
 (195, '2012', 'CA', 'Crude Rate', '10.1', 'cases per 1,000,000'),
 (200, '2014', 'CA', 'Number', '407', None),
 (208, '2015', 'AL', 'Number', '52', None),
 (209, '2011', 'IL', 'Age-adjusted Rate', '13.3', 'cases per 1,000,000'),
 (233, '2014', 'FL', 'Age-adjusted Rate', '8.6', 'cases per 1,000,000'),
 (242, '2012', 'IA', 'Crude Rate', '11.4', 'cases per 1,000,000'),
 (249, '2012', 'IN', 'Age-adjusted Rate', '10.3', 'cases per 1,000,000'),
 (251, '2013', 'GA', 'Age-adjusted Rate', '10.2', 'cases per 1,000,000'),
 (259, '2016', 'ID', 'Number', '21', None),
 (260, '2017', 'AZ', 'Number', '92', None),
 (263, '2017', 'GA', 'Crude Rate', '10.4', 'cases per 1,000,000'),
 (269, '2010', 'CA', 'Number', '403', None),
 (273, '2013', 'HI', 'Crude Rate', '17.1', 'cases per 1,000,000'),
 (311, '2010', 'IA', 'Number', '46', None),
 (314, '2011', 'IN', 'Crude Rate', '11.2', 'cases per 1,000,000'),
 (316, '2017', 'IL', 'Number', '149', None),
 (320, '2015', 'AZ', 'Age-adjusted Rate', '10', 'cases per 1,000,000'),
 (330, '2015', 'AR', 'Number', '30', None),
 (331, '2015', 'IL', 'Crude Rate', '12.2', 'cases per 1,000,000'),
 (335, '2014', 'ID', 'Crude Rate', '13.5', 'cases per 1,000,000'),
 (336, '2015', 'AR', 'Age-adjusted Rate', '9.8', 'cases per 1,000,000'),
 (346, '2015', 'KS', 'Number', '29', None),
 (348, '2017', 'AL', 'Age-adjusted Rate', '13.7', 'cases per 1,000,000'),
 (349, '2016', 'GA', 'Number', '93', None),
 (363, '2011', 'KS', 'Crude Rate', '8.7', 'cases per 1,000,000'),
 (392, '2011', 'CA', 'Age-adjusted Rate', '10.7', 'cases per 1,000,000'),
 (399, '2014', 'IN', 'Crude Rate', '11.1', 'cases per 1,000,000'),
 (412, '2012', 'ID', 'Age-adjusted Rate', '13.2', 'cases per 1,000,000'),
 (420, '2010', 'CO', 'Crude Rate', '9.5', 'cases per 1,000,000'),
 (423, '2011', 'HI', 'Age-adjusted Rate', '16', 'cases per 1,000,000'),
 (426, '2010', 'CT', 'Number', '45', None),
 (457, '2013', 'IN', 'Crude Rate', '10.5', 'cases per 1,000,000'),
 (469, '2013', 'CA', 'Crude Rate', '10.7', 'cases per 1,000,000'),
 (484, '2013', 'ID', 'Age-adjusted Rate', '13.3', 'cases per 1,000,000'),
 (490, '2015', 'IL', 'Age-adjusted Rate', '11.6', 'cases per 1,000,000'),
 (500, '2014', 'AR', 'Number', '33', None),
 (516, '2010', 'ID', 'Crude Rate', '13.4', 'cases per 1,000,000'),
 (518, '2012', 'CT', 'Number', '39', None),
 (534, '2010', 'AL', 'Age-adjusted Rate', '11.9', 'cases per 1,000,000'),
 (535, '2010', 'AR', 'Age-adjusted Rate', '11.4', 'cases per 1,000,000'),
 (539, '2014', 'IA', 'Crude Rate', '17.4', 'cases per 1,000,000'),
 (550, '2016', 'IN', 'Crude Rate', '8.3', 'cases per 1,000,000'),
 (555, '2013', 'AR', 'Number', '36', None),
 (556, '2016', 'IA', 'Age-adjusted Rate', '9.3', 'cases per 1,000,000'),
 (583, '2015', 'CA', 'Number', '393', None),
 (595, '2014', 'KS', 'Crude Rate', '9.3', 'cases per 1,000,000'),
 (609, '2011', 'AL', 'Number', '36', None),
 (620, '2010', 'IL', 'Age-adjusted Rate', '13.9', 'cases per 1,000,000'),
 (649, '2016', 'CT', 'Number', '44', None),
 (653, '2013', 'AZ', 'Number', '98', None),
 (659, '2014', 'CO', 'Crude Rate', '7.7', 'cases per 1,000,000'),
 (662, '2010', 'IN', 'Age-adjusted Rate', '10.5', 'cases per 1,000,000'),
 (666, '2010', 'GA', 'Number', '97', None),
 (672, '2015', 'IN', 'Age-adjusted Rate', '12.9', 'cases per 1,000,000'),
 (678, '2016', 'AR', 'Crude Rate', '15.1', 'cases per 1,000,000'),
 (683, '2017', 'IN', 'Crude Rate', '11.7', 'cases per 1,000,000'),
 (685, '2017', 'HI', 'Age-adjusted Rate', '13.4', 'cases per 1,000,000'),
 (687, '2012', 'CO', 'Age-adjusted Rate', '10.6', 'cases per 1,000,000'),
 (700, '2011', 'KS', 'Number', '25', None),
 (711, '2015', 'FL', 'Number', '175', None),
 (720, '2014', 'AZ', 'Age-adjusted Rate', '11.7', 'cases per 1,000,000'),
 (739, '2012', 'GA', 'Number', '93', None),
 (766, '2013', 'IL', 'Number', '192', None),
 (771, '2015', 'CA', 'Age-adjusted Rate', '9.5', 'cases per 1,000,000'),
 (776, '2011', 'GA', 'Age-adjusted Rate', '10.5', 'cases per 1,000,000'),
 (784, '2013', 'GA', 'Crude Rate', '10.1', 'cases per 1,000,000'),
 (799, '2016', 'CO', 'Age-adjusted Rate', '8.3', 'cases per 1,000,000'),
 (821, '2011', 'IA', 'Age-adjusted Rate', '12.5', 'cases per 1,000,000'),
 (870, '2014', 'AZ', 'Crude Rate', '12.8', 'cases per 1,000,000'),
 (876, '2014', 'ID', 'Age-adjusted Rate', '13', 'cases per 1,000,000'),
 (883, '2017', 'AL', 'Crude Rate', '15.2', 'cases per 1,000,000'),
 (889, '2012', 'IA', 'Age-adjusted Rate', '9.8', 'cases per 1,000,000'),
 (893, '2011', 'AR', 'Age-adjusted Rate', '14.2', 'cases per 1,000,000'),
 (894, '2011', 'AR', 'Number', '46', None),
 (919, '2012', 'CA', 'Age-adjusted Rate', '9.8', 'cases per 1,000,000'),
 (928, '2012', 'CO', 'Crude Rate', '10.6', 'cases per 1,000,000'),
 (929, '2013', 'AL', 'Age-adjusted Rate', '8.4', 'cases per 1,000,000'),
 (931, '2017', 'HI', 'Crude Rate', '16.8', 'cases per 1,000,000'),
 (941, '2010', 'CO', 'Number', '48', None),
 (950, '2017', 'CO', 'Number', '46', None),
 (951, '2017', 'IL', 'Crude Rate', '11.6', 'cases per 1,000,000'),
 (963, '2016', 'AL', 'Age-adjusted Rate', '9.1', 'cases per 1,000,000'),
 (964, '2015', 'KS', 'Crude Rate', '10', 'cases per 1,000,000'),
 (988, '2010', 'CA', 'Crude Rate', '10.8', 'cases per 1,000,000'),
 (1002, '2017', 'AZ', 'Crude Rate', '13.1', 'cases per 1,000,000'),
 (1027, '2015', 'CO', 'Crude Rate', '8.4', 'cases per 1,000,000'),
 (1029, '2011', 'CO', 'Age-adjusted Rate', '8.4', 'cases per 1,000,000'),
 (1030, '2013', 'KS', 'Number', '32', None),
 (1045, '2010', 'IA', 'Crude Rate', '15.1', 'cases per 1,000,000'),
 (1055, '2017', 'ID', 'Age-adjusted Rate', '13.8', 'cases per 1,000,000'),
 (1062, '2011', 'IN', 'Age-adjusted Rate', '10.4', 'cases per 1,000,000'),
 (1066, '2013', 'FL', 'Age-adjusted Rate', '8.4', 'cases per 1,000,000'),
 (1068, '2014', 'CA', 'Crude Rate', '10.5', 'cases per 1,000,000'),
 (1078, '2011', 'GA', 'Number', '96', None),
 (1103, '2016', 'FL', 'Number', '184', None),
 (1107, '2010', 'KS', 'Number', '33', None),
 (1109, '2010', 'GA', 'Crude Rate', '10', 'cases per 1,000,000'),
 (1115, '2012', 'AZ', 'Age-adjusted Rate', '11.6', 'cases per 1,000,000'),
 (1131, '2015', 'IA', 'Age-adjusted Rate', '10.7', 'cases per 1,000,000'),
 (1178, '2015', 'AL', 'Crude Rate', '10.7', 'cases per 1,000,000'),
 (1201, '2016', 'ID', 'Crude Rate', '12.5', 'cases per 1,000,000'),
 (1206, '2011', 'KS', 'Age-adjusted Rate', '8', 'cases per 1,000,000'),
 (1221, '2017', 'GA', 'Age-adjusted Rate', '10.1', 'cases per 1,000,000'),
 (1222, '2010', 'FL', 'Number', '177', None),
 (1229, '2017', 'AR', 'Number', '32', None),
 (1231, '2017', 'IA', 'Crude Rate', '10.2', 'cases per 1,000,000'),
 (1236, '2013', 'HI', 'Age-adjusted Rate', '13.6', 'cases per 1,000,000'),
 (1246, '2014', 'IN', 'Age-adjusted Rate', '10.3', 'cases per 1,000,000'),
 (1248, '2016', 'AZ', 'Age-adjusted Rate', '14.2', 'cases per 1,000,000'),
 (1276, '2010', 'IL', 'Crude Rate', '14.3', 'cases per 1,000,000'),
 (1282, '2015', 'ID', 'Age-adjusted Rate', '11.6', 'cases per 1,000,000'),
 (1285, '2016', 'IN', 'Age-adjusted Rate', '7.8', 'cases per 1,000,000'),
 (1305, '2017', 'FL', 'Age-adjusted Rate', '7', 'cases per 1,000,000'),
 (1331, '2017', 'CA', 'Number', '399', None),
 (1335, '2013', 'AR', 'Crude Rate', '12.2', 'cases per 1,000,000'),
 (1339, '2010', 'AZ', 'Number', '58', None),
 (1352, '2017', 'IN', 'Number', '78', None),
 (1376, '2010', 'AL', 'Crude Rate', '12.8', 'cases per 1,000,000'),
 (1391, '2010', 'AR', 'Crude Rate', '12.7', 'cases per 1,000,000'),
 (1393, '2013', 'IA', 'Age-adjusted Rate', '10', 'cases per 1,000,000'),
 (1405, '2011', 'IA', 'Crude Rate', '14', 'cases per 1,000,000'),
 (1411, '2016', 'IA', 'Crude Rate', '10.8', 'cases per 1,000,000'),
 (1426, '2011', 'CT', 'Crude Rate', '6.7', 'cases per 1,000,000'),
 (1428, '2010', 'ID', 'Age-adjusted Rate', '13.5', 'cases per 1,000,000'),
 (1439, '2013', 'CO', 'Number', '51', None),
 (1449, '2016', 'AZ', 'Crude Rate', '15.6', 'cases per 1,000,000'),
 (1451, '2013', 'ID', 'Crude Rate', '14.3', 'cases per 1,000,000'),
 (1463, '2014', 'KS', 'Number', '27', None),
 (1472, '2013', 'IL', 'Crude Rate', '14.9', 'cases per 1,000,000'),
 (1488, '2016', 'CO', 'Crude Rate', '8.3', 'cases per 1,000,000'),
 (1504, '2012', 'KS', 'Crude Rate', '9', 'cases per 1,000,000'),
 (1505, '2012', 'IL', 'Age-adjusted Rate', '12.7', 'cases per 1,000,000'),
 (1517, '2014', 'IA', 'Number', '54', None),
 (1522, '2016', 'CT', 'Crude Rate', '12.3', 'cases per 1,000,000'),
 (1541, '2015', 'AZ', 'Number', '76', None),
 (1543, '2011', 'AL', 'Crude Rate', '7.5', 'cases per 1,000,000'),
 (1550, '2016', 'AR', 'Age-adjusted Rate', '14.3', 'cases per 1,000,000'),
 (1557, '2011', 'GA', 'Crude Rate', '9.8', 'cases per 1,000,000'),
 (1564, '2014', 'IL', 'Crude Rate', '13', 'cases per 1,000,000'),
 (1565, '2014', 'CT', 'Number', '36', None),
 (1566, '2014', 'GA', 'Age-adjusted Rate', '9.9', 'cases per 1,000,000'),
 (1603, '2013', 'AZ', 'Crude Rate', '14.8', 'cases per 1,000,000'),
 (1604, '2012', 'AR', 'Age-adjusted Rate', '9.8', 'cases per 1,000,000'),
 (1607, '2016', 'CA', 'Number', '391', None),
 (1617, '2016', 'IL', 'Age-adjusted Rate', '10.5', 'cases per 1,000,000'),
 (1623, '2012', 'FL', 'Number', '195', None),
 (1632, '2010', 'IN', 'Crude Rate', '10.6', 'cases per 1,000,000'),
 (1639, '2013', 'CA', 'Number', '410', None),
 (1648, '2015', 'IN', 'Crude Rate', '13.6', 'cases per 1,000,000'),
 (1665, '2014', 'AR', 'Crude Rate', '11.1', 'cases per 1,000,000'),
 (1666, '2012', 'CT', 'Crude Rate', '10.9', 'cases per 1,000,000'),
 (1667, '2014', 'AL', 'Age-adjusted Rate', '10.7', 'cases per 1,000,000'),
 (1672, '2011', 'AZ', 'Number', '92', None),
 (1683, '2011', 'AL', 'Age-adjusted Rate', '7.4', 'cases per 1,000,000'),
 (1690, '2010', 'FL', 'Crude Rate', '9.4', 'cases per 1,000,000'),
 (1698, '2012', 'ID', 'Number', '21', None),
 (1703, '2014', 'GA', 'Crude Rate', '9.5', 'cases per 1,000,000'),
 (1711, '2016', 'GA', 'Age-adjusted Rate', '9.2', 'cases per 1,000,000'),
 (1722, '2010', 'IL', 'Number', '183', None),
 (1726, '2010', 'CT', 'Age-adjusted Rate', '10.4', 'cases per 1,000,000'),
 (1739, '2014', 'CA', 'Age-adjusted Rate', '10', 'cases per 1,000,000'),
 (1779, '2017', 'AZ', 'Age-adjusted Rate', '11.7', 'cases per 1,000,000'),
 (1808, '2015', 'CO', 'Age-adjusted Rate', '8.5', 'cases per 1,000,000'),
 (1826, '2017', 'IL', 'Age-adjusted Rate', '10.9', 'cases per 1,000,000'),
 (1844, '2015', 'KS', 'Age-adjusted Rate', '9.6', 'cases per 1,000,000'),
 (1855, '2011', 'AZ', 'Age-adjusted Rate', '13.3', 'cases per 1,000,000'),
 (1886, '2016', 'FL', 'Crude Rate', '8.9', 'cases per 1,000,000'),
 (1900, '2014', 'FL', 'Number', '191', None),
 (1923, '2014', 'HI', 'Number', '24', None),
 (1925, '2012', 'FL', 'Age-adjusted Rate', '8.7', 'cases per 1,000,000'),
 (1934, '2017', 'CO', 'Crude Rate', '8.2', 'cases per 1,000,000'),
 (1941, '2013', 'KS', 'Crude Rate', '11.1', 'cases per 1,000,000'),
 (1948, '2015', 'AL', 'Age-adjusted Rate', '9.8', 'cases per 1,000,000'),
 (1960, '2012', 'IN', 'Number', '72', None),
 (1961, '2011', 'CA', 'Crude Rate', '10.7', 'cases per 1,000,000'),
 (1973, '2016', 'ID', 'Age-adjusted Rate', '11.3', 'cases per 1,000,000'),
 (1978, '2011', 'AR', 'Crude Rate', '15.7', 'cases per 1,000,000'),
 (1987, '2010', 'GA', 'Age-adjusted Rate', '10.8', 'cases per 1,000,000'),
 (1989, '2015', 'GA', 'Crude Rate', '9', 'cases per 1,000,000'),
 (1990, '2017', 'IA', 'Age-adjusted Rate', '8.8', 'cases per 1,000,000'),
 (1992, '2015', 'CO', 'Number', '46', None),
 (1996, '2015', 'IN', 'Number', '90', None),
 (1997, '2012', 'CO', 'Number', '55', None),
 (2001, '2012', 'AZ', 'Crude Rate', '12.2', 'cases per 1,000,000'),
 (2015, '2017', 'HI', 'Number', '24', None),
 (2032, '2010', 'IA', 'Age-adjusted Rate', '13.8', 'cases per 1,000,000'),
 (2047, '2014', 'AZ', 'Number', '86', None),
 (2048, '2013', 'FL', 'Crude Rate', '9.6', 'cases per 1,000,000'),
 (2052, '2016', 'AL', 'Crude Rate', '9.9', 'cases per 1,000,000'),
 (2059, '2017', 'AL', 'Number', '74', None),
 (2083, '2011', 'CT', 'Age-adjusted Rate', '6.1', 'cases per 1,000,000'),
 (2094, '2010', 'AZ', 'Crude Rate', '9.1', 'cases per 1,000,000'),
 (2115, '2013', 'IL', 'Age-adjusted Rate', '14', 'cases per 1,000,000'),
 (2117, '2012', 'AL', 'Age-adjusted Rate', '10.9', 'cases per 1,000,000'),
 (2119, '2014', 'CT', 'Crude Rate', '10', 'cases per 1,000,000'),
 (2148, '2012', 'FL', 'Crude Rate', '10.1', 'cases per 1,000,000'),
 (2151, '2016', 'CA', 'Crude Rate', '10', 'cases per 1,000,000'),
 (2165, '2017', 'CT', 'Age-adjusted Rate', '9', 'cases per 1,000,000'),
 (2184, '2015', 'AZ', 'Crude Rate', '11.1', 'cases per 1,000,000'),
 (2187, '2010', 'IN', 'Number', '69', None),
 (2191, '2013', 'AR', 'Age-adjusted Rate', '10.9', 'cases per 1,000,000'),
 (2214, '2014', 'IL', 'Number', '167', None),
 (2227, '2013', 'CT', 'Age-adjusted Rate', '8.3', 'cases per 1,000,000'),
 (2231, '2015', 'FL', 'Age-adjusted Rate', '7.4', 'cases per 1,000,000'),
 (2240, '2011', 'FL', 'Age-adjusted Rate', '6.7', 'cases per 1,000,000'),
 (2249, '2012', 'KS', 'Number', '26', None),
 (2259, '2012', 'GA', 'Age-adjusted Rate', '9.5', 'cases per 1,000,000'),
 (2264, '2016', 'IL', 'Crude Rate', '11.6', 'cases per 1,000,000'),
 (2292, '2013', 'CO', 'Crude Rate', '9.7', 'cases per 1,000,000'),
 (2302, '2016', 'AZ', 'Number', '108', None),
 (2328, '2016', 'CO', 'Number', '46', None),
 (2339, '2015', 'ID', 'Crude Rate', '12.7', 'cases per 1,000,000'),
 (2351, '2013', 'AZ', 'Age-adjusted Rate', '13.7', 'cases per 1,000,000'),
 (2355, '2012', 'AR', 'Crude Rate', '10.2', 'cases per 1,000,000'),
 (2360, '2016', 'CT', 'Age-adjusted Rate', '11.1', 'cases per 1,000,000'),
 (2362, '2017', 'FL', 'Crude Rate', '8.5', 'cases per 1,000,000'),
 (2367, '2011', 'IA', 'Number', '43', None),
 (2380, '2013', 'ID', 'Number', '23', None),
 (2386, '2017', 'CA', 'Crude Rate', '10.1', 'cases per 1,000,000'),
 (2409, '2014', 'AR', 'Age-adjusted Rate', '11', 'cases per 1,000,000'),
 (2414, '2012', 'CT', 'Age-adjusted Rate', '9.4', 'cases per 1,000,000'),
 (2417, '2014', 'AL', 'Crude Rate', '11.8', 'cases per 1,000,000'),
 (2421, '2011', 'AZ', 'Crude Rate', '14.2', 'cases per 1,000,000'),
 (2436, '2010', 'AL', 'Number', '61', None),
 (2442, '2015', 'GA', 'Number', '92', None),
 (2444, '2010', 'AR', 'Number', '37', None),
 (2447, '2012', 'IL', 'Crude Rate', '13.5', 'cases per 1,000,000'),
 (2449, '2013', 'IA', 'Crude Rate', '11.6', 'cases per 1,000,000'),
 (2460, '2011', 'CO', 'Number', '42', None),
 (2472, '2016', 'IA', 'Number', '34', None),
 (2474, '2010', 'CA', 'Age-adjusted Rate', '11', 'cases per 1,000,000'),
 (2485, '2017', 'CO', 'Age-adjusted Rate', '7.7', 'cases per 1,000,000'),
 (2486, '2011', 'IL', 'Crude Rate', '13.7', 'cases per 1,000,000'),
 (2495, '2010', 'CT', 'Crude Rate', '12.6', 'cases per 1,000,000'),
 (2517, '2012', 'IN', 'Crude Rate', '11', 'cases per 1,000,000'),
 (2539, '2017', 'GA', 'Number', '108', None),
 (2558, '2010', 'FL', 'Age-adjusted Rate', '8.1', 'cases per 1,000,000'),
 (2573, '2014', 'IN', 'Number', '73', None),
 (2577, '2016', 'GA', 'Crude Rate', '9', 'cases per 1,000,000'),
 (2580, '2011', 'CT', 'Number', '24', None),
 (2593, '2011', 'IN', 'Number', '73', None),
 (2600, '2011', 'HI', 'Crude Rate', '18.9', 'cases per 1,000,000'),
 (2612, '2015', 'IL', 'Number', '157', None),
 (2613, '2013', 'FL', 'Number', '188', None),
 (2614, '2012', 'IA', 'Number', '35', None),
 (2623, '2014', 'FL', 'Crude Rate', '9.6', 'cases per 1,000,000'),
 (2625, '2014', 'ID', 'Number', '22', None),
 (2630, '2011', 'CA', 'Number', '403', None),
 (2635, '2012', 'AL', 'Number', '57', None),
 (2673, '2016', 'AL', 'Number', '48', None),
 (2684, '2017', 'CT', 'Number', '38', None),
 (2685, '2014', 'HI', 'Crude Rate', '16.9', 'cases per 1,000,000'),
 (2702, '2015', 'AR', 'Crude Rate', '10.1', 'cases per 1,000,000'),
 (2750, '2015', 'GA', 'Age-adjusted Rate', '9.1', 'cases per 1,000,000'),
 (2768, '2013', 'KS', 'Age-adjusted Rate', '10.2', 'cases per 1,000,000'),
 (2781, '2012', 'ID', 'Crude Rate', '13.2', 'cases per 1,000,000'),
 (2786, '2017', 'ID', 'Number', '27', None),
 (2800, '2012', 'IL', 'Number', '174', None),
 (2802, '2015', 'CT', 'Number', '48', None),
 (2833, '2013', 'CT', 'Crude Rate', '10', 'cases per 1,000,000'),
 (2835, '2016', 'FL', 'Age-adjusted Rate', '7.5', 'cases per 1,000,000'),
 (2854, '2012', 'AZ', 'Number', '80', None),
 (2863, '2013', 'AL', 'Number', '42', None),
 (2870, '2015', 'IA', 'Number', '41', None),
 (2889, '2013', 'IA', 'Number', '36', None),
 (2905, '2012', 'GA', 'Crude Rate', '9.4', 'cases per 1,000,000'),
 (2907, '2012', 'AR', 'Number', '30', None),
 (2912, '2011', 'FL', 'Crude Rate', '7.8', 'cases per 1,000,000'),
 (2913, '2011', 'IL', 'Number', '176', None),
 (2918, '2013', 'CA', 'Age-adjusted Rate', '10.4', 'cases per 1,000,000'),
 (2920, '2016', 'CA', 'Age-adjusted Rate', '9.3', 'cases per 1,000,000'),
 (2921, '2014', 'CO', 'Age-adjusted Rate', '7.8', 'cases per 1,000,000'),
 (2951, '2013', 'GA', 'Number', '101', None),
 (2969, '2014', 'AL', 'Number', '57', None),
 (2971, '2014', 'KS', 'Age-adjusted Rate', '8.4', 'cases per 1,000,000'),
 (2972, '2010', 'ID', 'Number', '21', None),
 (2977, '2015', 'FL', 'Crude Rate', '8.6', 'cases per 1,000,000'),
 (2983, '2015', 'ID', 'Number', '21', None),
 (2995, '2017', 'FL', 'Number', '179', None),
 (2996, '2014', 'IA', 'Age-adjusted Rate', '13.7', 'cases per 1,000,000'),
 (3008, '2013', 'IN', 'Age-adjusted Rate', '9.7', 'cases per 1,000,000'),
 (3014, '2017', 'CT', 'Crude Rate', '10.6', 'cases per 1,000,000'),
 (3023, '2016', 'AR', 'Number', '45', None),
 (3029, '2010', 'AZ', 'Age-adjusted Rate', '8.6', 'cases per 1,000,000'),
 (3053, '2014', 'CT', 'Age-adjusted Rate', '8.7', 'cases per 1,000,000'),
 (3054, '2012', 'AL', 'Crude Rate', '11.8', 'cases per 1,000,000'),
 (3061, '2010', 'CO', 'Age-adjusted Rate', '10.2', 'cases per 1,000,000'),
 (3126, '2016', 'IL', 'Number', '149', None),
 (3129, '2013', 'CO', 'Age-adjusted Rate', '9.8', 'cases per 1,000,000'),
 (3139, '2017', 'AR', 'Age-adjusted Rate', '9.4', 'cases per 1,000,000'),
 (3144, '2015', 'CT', 'Age-adjusted Rate', '11.1', 'cases per 1,000,000'),
 (3195, '2016', 'IN', 'Number', '55', None),
 (3221, '2010', 'KS', 'Age-adjusted Rate', '10.8', 'cases per 1,000,000'),
 (3231, '2017', 'CA', 'Age-adjusted Rate', '9.3', 'cases per 1,000,000'),
 (3234, '2015', 'CA', 'Crude Rate', '10', 'cases per 1,000,000'),
 (3236, '2017', 'IN', 'Age-adjusted Rate', '11', 'cases per 1,000,000'),
 (3290, '2015', 'NE', 'Crude Rate', '19', 'cases per 1,000,000'),
 (3295, '2010', 'MD', 'Age-adjusted Rate', '11.4', 'cases per 1,000,000'),

# ETL of [Air Data](https://www.epa.gov/outdoor-air-quality-data)

In [25]:
#finding the name of all the files in the air quality folder
all_files = glob.glob('./Air_quality_csv/*.csv')

air_list = []
#reading all the CSV files
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    air_list.append(df)
#creating the concatenated dataframe
air_df = pd.concat(air_list, axis=0, ignore_index=True)

In [26]:
air_df

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,Alabama,Baldwin,2018,270,245,25,0,0,0,0,97,50,35,0,0,214,0,56,0
1,Alabama,Clay,2018,110,103,7,0,0,0,0,64,45,27,0,0,0,0,110,0
2,Alabama,Colbert,2018,277,251,26,0,0,0,0,93,50,35,0,0,209,0,68,0
3,Alabama,DeKalb,2018,350,316,34,0,0,0,0,84,50,35,0,0,317,0,33,0
4,Alabama,Elmore,2018,222,203,19,0,0,0,0,71,49,33,0,0,222,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10659,Wyoming,Sublette,2010,365,250,113,2,0,0,0,112,67,47,0,2,347,0,16,0
10660,Wyoming,Sweetwater,2010,365,254,108,3,0,0,0,112,66,45,0,6,313,1,7,38
10661,Wyoming,Teton,2010,365,281,84,0,0,0,0,90,61,44,4,0,355,0,4,2
10662,Wyoming,Uinta,2010,364,286,76,2,0,0,0,135,61,44,0,3,350,0,0,11
10663,Wyoming,Weston,2010,363,363,0,0,0,0,0,33,11,0,0,0,0,363,0,0

In [27]:
# there is the need to aggregate the data by state and year
# The output is the average number of days that were over the law limits per parameter of interest (i.e. PMx)
# The average median and maximum API per state in a year is evaluated as well.
aggregate_air_df = air_df.groupby(by=['State','Year']).mean()
air_df = aggregate_air_df.reset_index()

In [28]:
#printing the names of the dataframe columns
air_df.columns

Index(['State', 'Year', 'Days with AQI', 'Good Days', 'Moderate Days',
       'Unhealthy for Sensitive Groups Days', 'Unhealthy Days',
       'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days SO2', 'Days PM2.5', 'Days PM10'],
      dtype='object')

In [29]:
#dropping not useful column 
columns_to_drop = ['Days with AQI',\
                   'Good Days',\
                   'Moderate Days',\
                   'Unhealthy for Sensitive Groups Days',\
                   'Unhealthy Days',\
                   'Very Unhealthy Days',\
                   'Hazardous Days',\
                   '90th Percentile AQI',
                   'Days CO',\
                   'Days NO2',\
                   'Days SO2',]
air_df=air_df.drop(columns=columns_to_drop)

In [30]:
air_df

       State  Year     Max AQI  Median AQI  Days Ozone  Days PM2.5  Days PM10
0    Alabama  2010  112.263158   46.157895  131.000000  142.105263   8.894737
1    Alabama  2011  111.526316   42.789474  158.631579   84.894737   4.736842
2    Alabama  2012  110.235294   40.176471  174.529412   85.117647   3.529412
3    Alabama  2013   86.055556   37.166667  173.166667   84.055556   3.222222
4    Alabama  2014   93.333333   38.166667  173.055556   83.611111   3.277778
..       ...   ...         ...         ...         ...         ...        ...
535  Wyoming  2015  110.263158   34.789474  235.894737   29.315789  42.052632
536  Wyoming  2016   95.944444   37.277778  266.555556   16.055556  44.444444
537  Wyoming  2017  169.411765   38.470588  259.352941   18.882353  42.705882
538  Wyoming  2018  107.777778   39.555556  269.444444   14.722222  41.666667
539  Wyoming  2019  101.500000   38.833333  293.500000    6.611111  40.444444

[540 rows x 7 columns]

In [31]:
#converting the number of days in integers because as float they do not make too much sense
for column in air_df.columns:
    if air_df[column].dtype == float:
        air_df[column]= air_df[column].astype('int64')

In [32]:
# adding collection about asthma to sqlite
add_table_to_db('air', air_df, conn)

/Users/giada/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

[(0, 'Alabama', 2010, 112, 46, 131, 142, 8),
 (1, 'Alabama', 2011, 111, 42, 158, 84, 4),
 (2, 'Alabama', 2012, 110, 40, 174, 85, 3),
 (3, 'Alabama', 2013, 86, 37, 173, 84, 3),
 (4, 'Alabama', 2014, 93, 38, 173, 83, 3),
 (5, 'Alabama', 2015, 105, 39, 137, 145, 3),
 (6, 'Alabama', 2016, 111, 39, 156, 116, 3),
 (7, 'Alabama', 2017, 104, 38, 153, 125, 3),
 (8, 'Alabama', 2018, 99, 36, 159, 131, 0),
 (9, 'Alabama', 2019, 88, 38, 163, 124, 0),
 (10, 'Alaska', 2010, 88, 19, 59, 191, 9),
 (11, 'Alaska', 2011, 98, 22, 75, 176, 20),
 (12, 'Alaska', 2012, 96, 22, 95, 152, 51),
 (13, 'Alaska', 2013, 108, 20, 52, 176, 52),
 (14, 'Alaska', 2014, 133, 23, 68, 163, 38),
 (15, 'Alaska', 2015, 99, 23, 78, 157, 17),
 (16, 'Alaska', 2016, 88, 24, 105, 150, 28),
 (17, 'Alaska', 2017, 92, 22, 98, 158, 25),
 (18, 'Alaska', 2018, 84, 22, 87, 166, 24),
 (19, 'Alaska', 2019, 155, 19, 53, 182, 37),
 (20, 'Arizona', 2010, 238, 46, 180, 22, 79),
 (21, 'Arizona', 2011, 314, 47, 167, 27, 106),
 (22, 'Arizona', 2012, 173, 49, 179, 22, 112),
 (23, 'Arizona', 2013, 240, 46, 180, 31, 115),
 (24, 'Arizona', 2014, 207, 46, 180, 34, 121),
 (25, 'Arizona', 2015, 179, 43, 193, 45, 97),
 (26, 'Arizona', 2016, 234, 45, 192, 36, 111),
 (27, 'Arizona', 2017, 150, 47, 192, 36, 111),
 (28, 'Arizona', 2018, 200, 44, 208, 36, 104),
 (29, 'Arizona', 2019, 165, 42, 225, 38, 91),
 (30, 'Arkansas', 2010, 100, 41, 110, 94, 0),
 (31, 'Arkansas', 2011, 98, 40, 108, 90, 0),
 (32, 'Arkansas', 2012, 111, 38, 123, 81, 0),
 (33, 'Arkansas', 2013, 93, 34, 155, 88, 0),
 (34, 'Arkansas', 2014, 89, 33, 157, 89, 0),
 (35, 'Arkansas', 2015, 84, 32, 157, 87, 0),
 (36, 'Arkansas', 2016, 91, 33, 165, 84, 0),
 (37, 'Arkansas', 2017, 84, 37, 140, 133, 0),
 (38, 'Arkansas', 2018, 94, 35, 131, 128, 0),
 (39, 'Arkansas', 2019, 83, 36, 121, 114, 0),
 (40, 'California', 2010, 305, 45, 222, 105, 12),
 (41, 'California', 2011, 471, 49, 197, 129, 11),
 (42, 'California', 2012, 288, 48, 219, 110, 12),
 (43, 'California', 2013, 219, 49, 193, 128, 18),
 (44, 'California', 2014, 210, 48, 207, 117, 14),
 (45, 'California', 2015, 242, 49, 214, 110, 13),
 (46, 'California', 2016, 270, 46, 221, 109, 16),
 (47, 'California', 2017, 288, 49, 213, 122, 17),
 (48, 'California', 2018, 231, 48, 203, 137, 14),
 (49, 'California', 2019, 226, 43, 244, 98, 13),
 (50, 'Colorado', 2010, 118, 36, 177, 21, 68),
 (51, 'Colorado', 2011, 129, 38, 194, 17, 64),
 (52, 'Colorado', 2012, 125, 40, 203, 15, 64),
 (53, 'Colorado', 2013, 164, 39, 219, 17, 58),
 (54, 'Colorado', 2014, 105, 36, 214, 19, 59),
 (55, 'Colorado', 2015, 109, 35, 201, 19, 58),
 (56, 'Colorado', 2016, 103, 35, 195, 24, 58),
 (57, 'Colorado', 2017, 99, 36, 208, 27, 50),
 (58, 'Colorado', 2018, 128, 39, 212, 31, 42),
 (59, 'Colorado', 2019, 95, 34, 196, 38, 45),
 (60, 'Connecticut', 2010, 152, 39, 208, 77, 0),
 (61, 'Connecticut', 2011, 164, 39, 190, 58, 0),
 (62, 'Connecticut', 2012, 170, 42, 193, 117, 0),
 (63, 'Connecticut', 2013, 156, 44, 175, 133, 0),
 (64, 'Connecticut', 2014, 132, 41, 202, 107, 0),
 (65, 'Connecticut', 2015, 149, 41, 205, 105, 0),
 (66, 'Connecticut', 2016, 164, 40, 220, 84, 0),
 (67, 'Connecticut', 2017, 151, 38, 230, 78, 0),
 (68, 'Connecticut', 2018, 144, 37, 236, 73, 0),
 (69, 'Connecticut', 2019, 131, 39, 248, 69, 0),
 (70, 'Country Of Mexico', 2010, 478, 54, 154, 0, 53),
 (71, 'Country Of Mexico', 2011, 371, 46, 204, 0, 58),
 (72, 'Country Of Mexico', 2012, 333, 37, 214, 0, 65),
 (73, 'Country Of Mexico', 2013, 383, 31, 227, 0, 75),
 (74, 'Country Of Mexico', 2014, 126, 48, 77, 0, 25),
 (75, 'Country Of Mexico', 2015, 174, 73, 0, 0, 56),
 (76, 'Country Of Mexico', 2016, 194, 63, 0, 218, 58),
 (77, 'Country Of Mexico', 2017, 280, 50, 104, 161, 19),
 (78, 'Country Of Mexico', 2018, 244, 55, 181, 49, 26),
 (79, 'Country Of Mexico', 2019, 135, 57, 179, 0, 16),
 (80, 'Delaware', 2010, 168, 46, 233, 87, 0),
 (81, 'Delaware', 2011, 177, 44, 271, 93, 0),
 (82, 'Delaware', 2012, 177, 43, 254, 100, 0),
 (83, 'Delaware', 2013, 123, 42, 229, 130, 0),
 (84, 'Delaware', 2014, 121, 44, 218, 143, 0),
 (85, 'Delaware', 2015, 129, 43, 254, 107, 0),
 (86, 'Delaware', 2016, 139, 41, 271, 89, 0),
 (87, 'Delaware', 2017, 122, 41, 248, 112, 0),
 (88, 'Delaware', 2018, 141, 40, 267, 96, 0),
 (89, 'Delaware', 2019, 104, 42, 268, 94, 0),
 (90, 'District Of Columbia', 2010, 187, 51, 190, 118, 3),
 (91, 'District Of Columbia', 2011, 166, 54, 114, 224, 0),
 (92, 'District Of Columbia', 2012, 182, 56, 139, 205, 0),
 (93, 'District Of Columbia', 2013, 101, 48, 129, 210, 0),
 (94, 'District Of Columbia', 2014, 140, 47, 181, 165, 0),
 (95, 'District Of Columbia', 2015, 126, 47, 159, 175, 0),
 (96, 'District Of Columbia', 2016, 129, 47, 164, 171, 0),
 (97, 'District Of Columbia', 2017, 119, 51, 136, 203, 0),
 (98, 'District Of Columbia', 2018, 164, 44, 184, 165, 0),
 (99, 'District Of Columbia', 2019, 157, 44, 221, 112, 0),
 (100, 'Florida', 2010, 115, 39, 208, 116, 8),
 (101, 'Florida', 2011, 117, 37, 221, 106, 8),
 (102, 'Florida', 2012, 113, 35, 239, 93, 9),
 (103, 'Florida', 2013, 101, 34, 225, 113, 9),
 (104, 'Florida', 2014, 103, 36, 237, 98, 7),
 (105, 'Florida', 2015, 87, 34, 232, 106, 10),
 (106, 'Florida', 2016, 95, 37, 242, 97, 11),
 (107, 'Florida', 2017, 105, 36, 227, 113, 10),
 (108, 'Florida', 2018, 101, 34, 241, 101, 8),
 (109, 'Florida', 2019, 92, 35, 236, 102, 9),
 (110, 'Georgia', 2010, 131, 46, 111, 173, 1),
 (111, 'Georgia', 2011, 128, 46, 113, 169, 1),
 (112, 'Georgia', 2012, 127, 42, 113, 172, 1),
 (113, 'Georgia', 2013, 99, 38, 109, 179, 0),
 (114, 'Georgia', 2014, 104, 41, 104, 181, 0),
 (115, 'Georgia', 2015, 111, 37, 115, 170, 0),
 (116, 'Georgia', 2016, 129, 38, 128, 152, 0),
 (117, 'Georgia', 2017, 107, 37, 127, 143, 0),
 (118, 'Georgia', 2018, 94, 34, 127, 152, 0),
 (119, 'Georgia', 2019, 105, 38, 131, 158, 0),
 (120, 'Hawaii', 2010, 253, 85, 28, 207, 3),
 (121, 'Hawaii', 2011, 115, 51, 32, 184, 1),
 (122, 'Hawaii', 2012, 142, 64, 32, 224, 1),
 (123, 'Hawaii', 2013, 105, 53, 35, 219, 0),
 (124, 'Hawaii', 2014, 151, 48, 57, 187, 4),
 (125, 'Hawaii', 2015, 106, 52, 40, 198, 4),
 (126, 'Hawaii', 2016, 145, 54, 70, 184, 5),
 (127, 'Hawaii', 2017, 127, 52, 64, 173, 0),
 (128, 'Hawaii', 2018, 111, 37, 60, 192, 1),
 (129, 'Hawaii', 2019, 102, 18, 65, 231, 0),
 (130, 'Idaho', 2010, 104, 27, 44, 167, 36),
 (131, 'Idaho', 2011, 94, 25, 57, 178, 49),
 (132, 'Idaho', 2012, 162, 23, 37, 211, 58),
 (133, 'Idaho', 2013, 122, 24, 38, 157, 47),
 (134, 'Idaho', 2014, 123, 25, 55, 161, 64),
 (135, 'Idaho', 2015, 156, 23, 27, 216, 15),
 (136, 'Idaho', 2016, 104, 23, 31, 264, 6),
 (137, 'Idaho', 2017, 200, 27, 36, 272, 4),
 (138, 'Idaho', 2018, 146, 26, 40, 269, 9),
 (139, 'Idaho', 2019, 92, 23, 38, 269, 13),
 (140, 'Illinois', 2010, 116, 38, 209, 78, 5),
 (141, 'Illinois', 2011, 130, 36, 223, 61, 0),
 (142, 'Illinois', 2012, 150, 36, 240, 45, 0),
 (143, 'Illinois', 2013, 103, 34, 226, 50, 0),
 (144, 'Illinois', 2014, 105, 34, 212, 57, 1),
 (145, 'Illinois', 2015, 101, 34, 201, 72, 0),
 (146, 'Illinois', 2016, 109, 32, 199, 68, 0),
 (147, 'Illinois', 2017, 105, 36, 206, 81, 0),
 (148, 'Illinois', 2018, 113, 35, 191, 96, 0),
 (149, 'Illinois', 2019, 98, 35, 173, 104, 0),
 (150, 'Indiana', 2010, 116, 41, 103, 102, 0),
 (151, 'Indiana', 2011, 126, 40, 106, 105, 1),
 (152, 'Indiana', 2012, 137, 39, 113, 97, 1),
 (153, 'Indiana', 2013, 104, 37, 114, 101, 1),
 (154, 'Indiana', 2014, 110, 37, 102, 113, 0),
 (155, 'Indiana', 2015, 105, 35, 109, 114, 1),
 (156, 'Indiana', 2016, 110, 33, 125, 109, 0),
 (157, 'Indiana', 2017, 97, 35, 165, 103, 0),
 (158, 'Indiana', 2018, 110, 33, 214, 93, 0),
 (159, 'Indiana', 2019, 86, 34, 217, 89, 0),
 (160, 'Iowa', 2010, 107, 39, 88, 138, 37),
 (161, 'Iowa', 2011, 97, 41, 80, 160, 22),
 (162, 'Iowa', 2012, 109, 41, 95, 155, 24),
 (163, 'Iowa', 2013, 103, 39, 89, 159, 23),
 (164, 'Iowa', 2014, 104, 37, 83, 159, 25),
 (165, 'Iowa', 2015, 105, 36, 88, 161, 25),
 (166, 'Iowa', 2016, 97, 34, 88, 164, 26),
 (167, 'Iowa', 2017, 85, 35, 84, 165, 19),
 (168, 'Iowa', 2018, 97, 38, 97, 175, 13),
 (169, 'Iowa', 2019, 85, 34, 110, 162, 14),
 (170, 'Kansas', 2010, 100, 31, 178, 42, 37),
 (171, 'Kansas', 2011, 114, 33, 172, 42, 32),
 (172, 'Kansas', 2012, 132, 34, 211, 37, 40),
 (173, 'Kansas', 2013, 88, 32, 188, 44, 39),
 (174, 'Kansas', 2014, 100, 32, 193, 46, 40),
 (175, 'Kansas', 2015, 97, 32, 219, 46, 40),
 (176, 'Kansas', 2016, 104, 31, 224, 43, 43),
 (177, 'Kansas', 2017, 93, 32, 204, 60, 63),
 (178, 'Kansas', 2018, 104, 32, 197, 66, 71),
 (179, 'Kansas', 2019, 105, 32, 189, 80, 61),
 (180, 'Kentucky', 2010, 116, 43, 189, 83, 2),
 (181, 'Kentucky', 2011, 124, 41, 188, 92, 2),
 (182, 'Kentucky', 2012, 150, 41, 210, 76, 2),
 (183, 'Kentucky', 2013, 94, 38, 197, 90, 2),
 (184, 'Kentucky', 2014, 95, 38, 198, 85, 1),
 (185, 'Kentucky', 2015, 101, 38, 198, 97, 0),
 (186, 'Kentucky', 2016, 111, 39, 198, 104, 0),
 (187, 'Kentucky', 2017, 91, 39, 196, 103, 0),
 (188, 'Kentucky', 2018, 101, 37, 200, 102, 0),
 (189, 'Kentucky', 2019, 83, 38, 220, 78, 0),
 (190, 'Louisiana', 2010, 129, 42, 199, 111, 0),
 (191, 'Louisiana', 2011, 140, 42, 209, 119, 0),
 (192, 'Louisiana', 2012, 126, 41, 209, 120, 0),
 (193, 'Louisiana', 2013, 118, 38, 208, 125, 0),
 (194, 'Louisiana', 2014, 113, 38, 198, 129, 0),
 (195, 'Louisiana', 2015, 109, 36, 189, 118, 0),
 (196, 'Louisiana', 2016, 97, 37, 219, 102, 0),
 (197, 'Louisiana', 2017, 102, 35, 207, 100, 0),
 (198, 'Louisiana', 2018, 104, 33, 204, 106, 0),
 (199, 'Louisiana', 2019, 91, 34, 199, 107, 1),
 (200, 'Maine', 2010, 125, 34, 232, 68, 4),
 (201, 'Maine', 2011, 104, 33, 210, 58, 3),
 (202, 'Maine', 2012, 95, 34, 236, 45, 4),
 (203, 'Maine', 2013, 117, 34, 240, 50, 2),
 (204, 'Maine', 2014, 93, 33, 229, 62, 3),
 (205, 'Maine', 2015, 98, 32, 191, 88, 1),
 (206, 'Maine', 2016, 98, 31, 209, 110, 1),
 (207, 'Maine', 2017, 119, 33, 212, 99, 0),
 (208, 'Maine', 2018, 111, 35, 237, 81, 1),
 (209, 'Maine', 2019, 92, 33, 236, 79, 3),
 (210, 'Maryland', 2010, 173, 46, 203, 87, 0),
 (211, 'Maryland', 2011, 166, 45, 181, 114, 0),
 (212, 'Maryland', 2012, 180, 45, 200, 105, 0),
 (213, 'Maryland', 2013, 116, 42, 194, 112, 0),
 (214, 'Maryland', 2014, 107, 43, 185, 118, 0),
 (215, 'Maryland', 2015, 124, 43, 186, 112, 0),
 (216, 'Maryland', 2016, 130, 41, 201, 103, 0),
 (217, 'Maryland', 2017, 122, 39, 202, 91, 1),
 (218, 'Maryland', 2018, 126, 37, 205, 91, 0),
 (219, 'Maryland', 2019, 111, 38, 215, 77, 1),
 (220, 'Massachusetts', 2010, 145, 39, 185, 128, 0),
 (221, 'Massachusetts', 2011, 142, 40, 175, 142, 0),
 (222, 'Massachusetts', 2012, 146, 38, 182, 131, 0),
 (223, 'Massachusetts', 2013, 120, 38, 205, 130, 0),
 (224, 'Massachusetts', 2014, 95, 38, 232, 123, 0),
 (225, 'Massachusetts', 2015, 119, 36, 226, 116, 0),
 (226, 'Massachusetts', 2016, 121, 35, 272, 83, 0),
 (227, 'Massachusetts', 2017, 129, 37, 262, 93, 0),
 (228, 'Massachusetts', 2018, 117, 36, 254, 103, 0),
 (229, 'Massachusetts', 2019, 96, 37, 271, 82, 0),
 (230, 'Michigan', 2010, 119, 38, 178, 58, 0),
 (231, 'Michigan', 2011, 140, 37, 178, 63, 0),
 (232, 'Michigan', 2012, 163, 39, 181, 59, 1),
 (233, 'Michigan', 2013, 111, 36, 178, 63, 0),
 (234, 'Michigan', 2014, 111, 37, 157, 111, 1),
 (235, 'Michigan', 2015, 116, 36, 162, 109, 1),
 (236, 'Michigan', 2016, 123, 34, 175, 95, 1),
 (237, 'Michigan', 2017, 105, 35, 206, 86, 0),
 (238, 'Michigan', 2018, 121, 35, 205, 79, 3),
 (239, 'Michigan', 2019, 90, 34, 206, 74, 2),
 (240, 'Minnesota', 2010, 106, 32, 109, 160, 3),
 (241, 'Minnesota', 2011, 100, 33, 119, 154, 4),
 (242, 'Minnesota', 2012, 101, 33, 132, 149, 6),
 (243, 'Minnesota', 2013, 89, 33, 138, 151, 8),
 (244, 'Minnesota', 2014, 92, 31, 127, 168, 8),
 (245, 'Minnesota', 2015, 110, 31, 137, 161, 13),
 (246, 'Minnesota', 2016, 102, 28, 153, 159, 15),
 (247, 'Minnesota', 2017, 86, 31, 155, 160, 16),
 (248, 'Minnesota', 2018, 99, 32, 127, 180, 17),
 (249, 'Minnesota', 2019, 101, 29, 141, 173, 10),
 (250, 'Mississippi', 2010, 114, 44, 124, 162, 0),
 (251, 'Mississippi', 2011, 107, 43, 124, 161, 0),
 (252, 'Mississippi', 2012, 118, 40, 141, 159, 0),
 (253, 'Mississippi', 2013, 98, 37, 193, 105, 0),
 (254, 'Mississippi', 2014, 102, 38, 182, 112, 0),
 (255, 'Mississippi', 2015, 87, 35, 166, 121, 0),
 (256, 'Mississippi', 2016, 85, 36, 177, 104, 0),
 (257, 'Mississippi', 2017, 78, 35, 170, 116, 0),
 (258, 'Mississippi', 2018, 105, 36, 158, 150, 0),
 (259, 'Mississippi', 2019, 92, 38, 174, 163, 0),
 (260, 'Missouri', 2010, 130, 44, 154, 96, 12),
 (261, 'Missouri', 2011, 138, 43, 165, 85, 14),
 (262, 'Missouri', 2012, 153, 44, 153, 91, 16),
 (263, 'Missouri', 2013, 115, 41, 154, 99, 10),
 (264, 'Missouri', 2014, 109, 39, 151, 103, 12),
 (265, 'Missouri', 2015, 100, 35, 145, 95, 14),
 (266, 'Missouri', 2016, 101, 34, 159, 85, 12),
 (267, 'Missouri', 2017, 96, 35, 171, 74, 15),
 (268, 'Missouri', 2018, 111, 34, 161, 79, 12),
 (269, 'Missouri', 2019, 95, 38, 161, 79, 13),
 (270, 'Montana', 2010, 103, 28, 58, 184, 31),
 (271, 'Montana', 2011, 98, 27, 65, 173, 34),
 (272, 'Montana', 2012, 118, 28, 71, 176, 19),
 (273, 'Montana', 2013, 93, 28, 106, 161, 19),
 (274, 'Montana', 2014, 114, 27, 105, 164, 27),
 (275, 'Montana', 2015, 175, 28, 98, 175, 29),
 (276, 'Montana', 2016, 116, 26, 110, 170, 25),
 (277, 'Montana', 2017, 188, 30, 99, 190, 13),
 (278, 'Montana', 2018, 140, 29, 108, 186, 12),
 (279, 'Montana', 2019, 94, 26, 109, 179, 13),
 (280, 'Nebraska', 2010, 106, 29, 70, 84, 45),
 (281, 'Nebraska', 2011, 88, 30, 66, 98, 41),
 (282, 'Nebraska', 2012, 95, 33, 75, 90, 50),
 (283, 'Nebraska', 2013, 82, 27, 64, 95, 43),
 (284, 'Nebraska', 2014, 82, 25, 65, 94, 40),
 (285, 'Nebraska', 2015, 84, 26, 63, 104, 38),
 (286, 'Nebraska', 2016, 78, 25, 74, 99, 37),
 (287, 'Nebraska', 2017, 93, 28, 76, 115, 42),
 (288, 'Nebraska', 2018, 82, 27, 86, 112, 38),
 (289, 'Nebraska', 2019, 68, 24, 88, 107, 39),
 (290, 'Nevada', 2010, 98, 32, 149, 12, 89),
 (291, 'Nevada', 2011, 110, 33, 148, 16, 95),
 (292, 'Nevada', 2012, 178, 36, 148, 20, 76),
 (293, 'Nevada', 2013, 209, 37, 141, 59, 88),
 (294, 'Nevada', 2014, 213, 41, 176, 81, 68),
 (295, 'Nevada', 2015, 133, 39, 194, 70, 68),
 (296, 'Nevada', 2016, 151, 36, 209, 63, 79),
 (297, 'Nevada', 2017, 144, 38, 223, 62, 67),
 (298, 'Nevada', 2018, 140, 37, 215, 63, 72),
 (299, 'Nevada', 2019, 93, 34, 211, 64, 82),
 (300, 'New Hampshire', 2010, 134, 40, 247, 52, 0),
 (301, 'New Hampshire', 2011, 130, 39, 232, 74, 0),
 (302, 'New Hampshire', 2012, 115, 37, 261, 63, 0),
 (303, 'New Hampshire', 2013, 103, 36, 247, 77, 0),
 (304, 'New Hampshire', 2014, 106, 37, 248, 84, 0),
 (305, 'New Hampshire', 2015, 119, 37, 268, 72, 0),
 (306, 'New Hampshire', 2016, 99, 36, 306, 42, 0),
 (307, 'New Hampshire', 2017, 104, 36, 304, 50, 0),
 (308, 'New Hampshire', 2018, 95, 35, 263, 54, 0),
 (309, 'New Hampshire', 2019, 77, 34, 282, 47, 0),
 (310, 'New Jersey', 2010, 164, 40, 218, 89, 0),
 (311, 'New Jersey', 2011, 158, 41, 190, 122, 0),
 (312, 'New Jersey', 2012, 146, 40, 203, 106, 0),
 (313, 'New Jersey', 2013, 123, 39, 209, 99, 0),
 (314, 'New Jersey', 2014, 126, 39, 209, 88, 0),
 (315, 'New Jersey', 2015, 132, 39, 219, 82, 0),
 (316, 'New Jersey', 2016, 137, 39, 202, 114, 0),
 (317, 'New Jersey', 2017, 115, 38, 200, 122, 0),
 (318, 'New Jersey', 2018, 140, 38, 192, 127, 0),
 (319, 'New Jersey', 2019, 114, 39, 209, 106, 0),
 (320, 'New Mexico', 2010, 140, 30, 163, 71, 34),
 (321, 'New Mexico', 2011, 175, 32, 156, 76, 34),
 (322, 'New Mexico', 2012, 234, 32, 172, 70, 26),
 (323, 'New Mexico', 2013, 139, 33, 189, 64, 17),
 (324, 'New Mexico', 2014, 111, 33, 200, 65, 14),
 (325, 'New Mexico', 2015, 83, 28, 173, 63, 24),
 (326, 'New Mexico', 2016, 119, 30, 185, 67, 31),
 (327, 'New Mexico', 2017, 133, 31, 184, 67, 32),
 (328, 'New Mexico', 2018, 107, 33, 184, 70, 29),
 (329, 'New Mexico', 2019, 149, 31, 185, 66, 30),
 (330, 'New York', 2010, 130, 37, 259, 83, 0),
 (331, 'New York', 2011, 130, 37, 239, 94, 0),
 (332, 'New York', 2012, 125, 35, 254, 83, 0),
 (333, 'New York', 2013, 106, 35, 244, 97, 0),
 (334, 'New York', 2014, 103, 35, 243, 101, 0),
 (335, 'New York', 2015, 111, 35, 240, 99, 0),
 (336, 'New York', 2016, 119, 34, 255, 83, 0),
 (337, 'New York', 2017, 99, 32, 234, 81, 0),
 (338, 'New York', 2018, 115, 31, 223, 87, 0),
 (339, 'New York', 2019, 81, 31, 221, 79, 0),
 (340, 'North Carolina', 2010, 119, 43, 146, 125, 0),
 (341, 'North Carolina', 2011, 118, 42, 146, 125, 0),
 (342, 'North Carolina', 2012, 127, 39, 151, 126, 0),
 (343, 'North Carolina', 2013, 90, 36, 142, 132, 0),
 (344, 'North Carolina', 2014, 91, 38, 151, 126, 0),
 (345, 'North Carolina', 2015, 87, 37, 155, 113, 0),
 (346, 'North Carolina', 2016, 113, 36, 182, 91, 5),
 (347, 'North Carolina', 2017, 89, 36, 191, 95, 5),
 (348, 'North Carolina', 2018, 92, 35, 181, 91, 3),
 (349, 'North Carolina', 2019, 84, 36, 186, 91, 3),
 (350, 'North Dakota', 2010, 106, 32, 195, 53, 2),
 (351, 'North Dakota', 2011, 109, 33, 219, 72, 6),
 (352, 'North Dakota', 2012, 95, 33, 235, 75, 6),
 (353, 'North Dakota', 2013, 93, 37, 275, 64, 9),
 (354, 'North Dakota', 2014, 124, 35, 287, 55, 10),
 (355, 'North Dakota', 2015, 150, 33, 246, 66, 42),
 (356, 'North Dakota', 2016, 93, 30, 273, 40, 39),
 (357, 'North Dakota', 2017, 142, 33, 247, 65, 34),
 (358, 'North Dakota', 2018, 113, 35, 266, 80, 3),
 (359, 'North Dakota', 2019, 93, 32, 293, 60, 1),
 (360, 'Ohio', 2010, 136, 42, 143, 108, 7),
 (361, 'Ohio', 2011, 134, 39, 134, 117, 6),
 (362, 'Ohio', 2012, 157, 40, 145, 111, 7),
 (363, 'Ohio', 2013, 111, 37, 135, 126, 7),
 (364, 'Ohio', 2014, 111, 37, 140, 120, 7),
 (365, 'Ohio', 2015, 109, 36, 149, 116, 7),
 (366, 'Ohio', 2016, 109, 35, 162, 110, 7),
 (367, 'Ohio', 2017, 104, 35, 179, 102, 7),
 (368, 'Ohio', 2018, 107, 34, 170, 104, 6),
 (369, 'Ohio', 2019, 92, 35, 174, 99, 7),
 (370, 'Oklahoma', 2010, 108, 40, 212, 90, 11),
 (371, 'Oklahoma', 2011, 147, 45, 240, 63, 15),
 (372, 'Oklahoma', 2012, 143, 42, 227, 72, 15),
 (373, 'Oklahoma', 2013, 110, 39, 210, 73, 16),
 (374, 'Oklahoma', 2014, 106, 38, 233, 78, 16),
 (375, 'Oklahoma', 2015, 96, 35, 202, 74, 20),
 (376, 'Oklahoma', 2016, 93, 36, 217, 56, 26),
 (377, 'Oklahoma', 2017, 93, 35, 199, 65, 19),
 (378, 'Oklahoma', 2018, 120, 35, 190, 83, 27),
 (379, 'Oklahoma', 2019, 93, 33, 182, 83, 17),
 (380, 'Oregon', 2010, 108, 25, 54, 302, 0),
 (381, 'Oregon', 2011, 117, 25, 52, 275, 0),
 (382, 'Oregon', 2012, 128, 27, 52, 291, 0),
 (383, 'Oregon', 2013, 135, 31, 50, 294, 0),
 (384, 'Oregon', 2014, 127, 27, 55, 289, 0),
 (385, 'Oregon', 2015, 165, 28, 57, 285, 0),
 (386, 'Oregon', 2016, 90, 24, 65, 274, 0),
 (387, 'Oregon', 2017, 215, 28, 53, 287, 0),
 (388, 'Oregon', 2018, 164, 29, 47, 291, 0),
 (389, 'Oregon', 2019, 106, 26, 50, 293, 0),
 (390, 'Pennsylvania', 2010, 150, 44, 163, 127, 12),
 (391, 'Pennsylvania', 2011, 136, 43, 177, 142, 5),
 (392, 'Pennsylvania', 2012, 148, 43, 210, 126, 3),
 (393, 'Pennsylvania', 2013, 124, 41, 214, 128, 2),
 (394, 'Pennsylvania', 2014, 112, 42, 205, 136, 1),
 (395, 'Pennsylvania', 2015, 118, 42, 216, 127, 1),
 (396, 'Pennsylvania', 2016, 125, 40, 232, 115, 1),
 (397, 'Pennsylvania', 2017, 108, 40, 211, 136, 1),
 (398, 'Pennsylvania', 2018, 112, 36, 227, 110, 0),
 (399, 'Pennsylvania', 2019, 102, 37, 238, 101, 0),
 (400, 'Puerto Rico', 2010, 82, 15, 51, 8, 100),
 (401, 'Puerto Rico', 2011, 56, 14, 37, 25, 70),
 (402, 'Puerto Rico', 2012, 68, 18, 30, 51, 78),
 (403, 'Puerto Rico', 2013, 74, 16, 27, 47, 94),
 (404, 'Puerto Rico', 2014, 75, 16, 36, 14, 93),
 (405, 'Puerto Rico', 2015, 92, 18, 51, 42, 99),
 (406, 'Puerto Rico', 2016, 118, 17, 42, 58, 48),
 (407, 'Puerto Rico', 2017, 103, 19, 26, 44, 17),
 (408, 'Puerto Rico', 2018, 92, 22, 4, 120, 6),
 (409, 'Puerto Rico', 2019, 98, 19, 19, 126, 16),
 (410, 'Rhode Island', 2010, 143, 39, 186, 110, 0),
 (411, 'Rhode Island', 2011, 140, 40, 211, 99, 0),
 (412, 'Rhode Island', 2012, 161, 39, 217, 123, 0),
 (413, 'Rhode Island', 2013, 154, 39, 208, 152, 0),
 (414, 'Rhode Island', 2014, 106, 37, 221, 129, 0),
 (415, 'Rhode Island', 2015, 161, 39, 195, 144, 0),

In [33]:
#removing the point from the key for handling the dataset in MongoDb without issues
air_df=air_df.rename(columns={"Days PM2.5": "Days PM2_5"})
air_df

       State  Year  Max AQI  Median AQI  Days Ozone  Days PM2_5  Days PM10
0    Alabama  2010      112          46         131         142          8
1    Alabama  2011      111          42         158          84          4
2    Alabama  2012      110          40         174          85          3
3    Alabama  2013       86          37         173          84          3
4    Alabama  2014       93          38         173          83          3
..       ...   ...      ...         ...         ...         ...        ...
535  Wyoming  2015      110          34         235          29         42
536  Wyoming  2016       95          37         266          16         44
537  Wyoming  2017      169          38         259          18         42
538  Wyoming  2018      107          39         269          14         41
539  Wyoming  2019      101          38         293           6         40

[540 rows x 7 columns]

In [34]:
# adding collection about asthma to MongoDB
add_collection_to_mongo('air',air_df)

air stored in the MongoDB database named Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'health_air_mongo')

In [35]:
#closing the connections to sqlite and MongoDB
conn.close()
mongo_client.close()